[2019-06-25 19:55] tomresing opened #5 "Library scenarios"
Got a great end to end scenario for using SharePoint libraries? We could establish some community practices and patterns.

[2019-06-25 23:02] sympmarc commented on #5
Thanks, @tomresing. First issue! One thing this shows me is that I need to build an issue template like the other projects have.

Is this a real gap in the current documentation you'd like to fill? (Or is it an "Is this thing on???"?) If so, I can try to find someone to write something up.

[2019-06-25 23:09] tomresing commented on #5
You're welcome! And, I agree on the template. Great idea.
Unless you know of content like this (there's a huge set of content on libraries), I think it's a real gap.
Do you agree that the perspective of SharePoint practitioners is value for real world patterns and practices like this? I feel like this is the right type of thing for this group.

[2019-06-25 23:17] tomresing commented on #5
The template here might work https://github.com/SharePoint/sp-dev-docs/issues/new

[2019-06-25 23:21] tomresing opened #6 "Review of guidelines for site usage"
https://docs.microsoft.com/en-us/sharepoint/sites-usage-guidelines

#### Category
- [ ] Question
- [ ] Typo
- [ ] Bug
- [x] Additional article idea

#### Review of guidelines for site usage

Recently, a new article was added in the SharePoint Online Get Started section for admins. It's title is [Create guidelines for sites usage](https://docs.microsoft.com/en-us/sharepoint/sites-usage-guidelines).

[2019-06-25 23:27] sympmarc commented on #5
Just checking. Let's see if we can get some content going for this.

I just created a new issue template. Take a look and let me know what you think.

[2019-06-26 00:01] tomresing commented on #5
Thanks. Template looks good.

[2019-06-28 13:49] sympmarc opened #7 "Describe KFM Benefits for end users"
#### Category
- [ ] Question
- [x] Article suggestion
- [ ] Article issue

#### Article suggestion
KFM is a great capability, but none of the existing documentation describes it from an end user perspective.

[2019-07-02 21:58] sympmarc opened #8 "Information Architecture - Content Types"
#### Article suggestion

Content Types are a critical part of an effective information architecture in SharePoint. Can you describe how they work and how to go about building out a useful set?

[2019-07-02 22:00] sympmarc opened #9 "Information Architecture - Site Columns"
#### Article suggestion

Site Columns - what are they and why do they matter? Are they only useful in the context of Content Types?

[2019-07-02 22:03] sympmarc opened #10 "Information Architecture - Site Topology"
#### Article suggestion

Why do you need to think about your site topology, even in the flat, modern world? How is it different than classic SharePoint? How important are things like name spacing and naming conventions?

[2019-07-02 22:05] sympmarc opened #11 "Information Architecture - Managed Metadata"
#### Article suggestion

Managed metadata is provided by the taxonomy service, and thus is potentially available for use across all sites in the tenant. We used to use lookup columns a lot; can managed metadata replace them completely? What are the pros and cons?

[2019-08-25 23:00] hugoabernier commented on #10
Put me in coach!

[2019-08-26 01:34] sympmarc commented on #10
You’re in! Thanks for picking this one up.

[2019-09-02 14:08] sympmarc opened #13 "Explain PowerApps Licensing Scheme for Citizen Developers"
#### Article Suggestion

New licensing options for PowerApps go into effect on 1 Oct 2019. Many people are confused about how this will affect them as citizen developers or makers. An article which explains the impacts to them (and stays valid over time) would be very useful.

Thanks for your contribution! Sharing is caring.

[2019-09-02 14:10] sympmarc opened #14 "Explain Flow Licensing Scheme for Citizen Developers"
#### Article Suggestion

New licensing options for Flow go into effect on 1 Oct 2019. Many people are confused about how this will affect them as citizen developers or makers. An article which explains the impacts to them (and stays valid over time) would be very useful.

Thanks for your contribution! Sharing is caring.

[2019-09-02 22:51] SandyLT commented on #14
Hi Marc, I'm interested in tackling this...

[2019-09-11 06:50] pkbullock opened #16 "Designing for Scale"
#### Article suggestion

Quite often, i see a fair amount of small recipes for SharePoint configuration but not configuration at scale.

So some suggestions,

- Architecting for scale such as sites, lists, metadata, apporaches and best practices
- Scripting for scale, ensuring consistency in your implementations

Most implementations are bigger than the unit and I don't see often any info on this.

[2019-09-11 09:05] jeffangama opened #17 "Pull request to suggest an article in the documentation"
Do you accept pull request to improve the documentation ?
Maybe you can pre-validate the topic we want to submit using this issue system ?
Thank you,

[2019-09-11 12:49] sympmarc commented on #17
@jeffangama - yes, of course we will be accepting pull requests. My instructions here are geared more to the people who have not used Github before, which I expect will be a large percentage of the contributors.

As for pre-validating topics, yes. Raising an issue about a topic you would like to cover gives us a chance to have some discussion to refine the idea if it is helpful.

[2019-09-11 12:53] sympmarc commented on #16
@pkbullock - this is a great idea. It sounds like you're suggesting advice for citizen devs about how to think on a larger scale than just the particular solution they are building at the time.

If you have ideas you'd like to put down to start an article or two, that would be great.

[2019-09-11 16:13] pkbullock opened #18 "Article for taking a solution beyond POC"
#### Article suggestion

This article is about taking a solution beyond POC, factors to consider when putting a solution to production for Citizen Devs. Guidelines over quality, scalability, testing, security, usability.

[2019-09-11 16:15] pkbullock opened #19 "Guidance for naming columns, sites, lists"
#### Article suggestion

This is more about best practice around naming artefacts in SharePoint, guidlines over naming, SharePoint has its quirks and good naming of lists, columns, sites etc can present a tidy and reduce technical issues later.

The article would help Citizen Devs structure things in clean ways to avoid issues later.

[2019-09-11 16:24] pkbullock opened #20 "Explaining content type propagation"
#### Article suggestion

Explanation of how content types and site columns can be propagated through a site with sub sites and throughout a tenant.  Different approaches e.g. Enterprise Content Types, Site Collection level content types, how these can be setup and deployed. Pros/Cons for approaches allowing a decision to make based on their business scenario.

[2019-09-11 16:29] pkbullock opened #21 "Managing SharePoint security, a team perspective"
#### Article suggestion

How to setup SharePoint security groups, ad groups, site permissions, feature permissions, lock downs, aspects for each type of team may use, any pros/cons and best practices.

[2019-09-11 16:35] pkbullock opened #22 ""What is" paragraphs on each feature"
#### Article suggestion

This is something that crops up a lot in documentation, a brief description say no more than 1-2 paragraphs on What is SharePoint, What are Content Types, What is....X

I have built a collection of mini summaries, that i put in documentation to explain in the simplest terms what that feature is, its quite often i explain to different clients what X feature does in solution

[2019-09-11 16:51] pkbullock commented on #16
@sympmarc yes, when i build solutions often involves hundreds of sites, libraries, etc so i need to think how to build this, what aspects to consider, which SharePoint features can help think on a grander scale.

There is a lot of cross over with some of the other suggestions, so still thinking about this, perhaps that might be a general consideration article.  Happy for you to assign to me, perha

[2019-09-11 16:57] pkbullock commented on #16
Articles related are #18, #21, #20, #19 to start with.

[2019-09-11 17:00] pkbullock opened #23 "Do you have a style guide or content standard?"
#### Question

When writing articles, is there a standard to follow, style guide, dos and don'ts? Some of the MS docs, resource have standard feel to them...

[2019-09-11 17:01] pkbullock commented on #22
Happy for you to assign to me.

[2019-09-11 17:01] pkbullock commented on #21
Happy for you to assign to me.

[2019-09-11 17:02] pkbullock commented on #20
Happy for you to assign to me.

[2019-09-11 17:02] pkbullock commented on #18
Happy for you to assign to me.

[2019-09-11 17:02] pkbullock commented on #19
Happy for you to assign to me.

[2019-09-11 21:09] jeffangama commented on #23
Thanks that answers :)

[2019-09-11 21:39] pkbullock commented on #16
please assign to me.

[2019-09-13 21:23] sympmarc commented on #7
Addressed in #24

[2019-09-13 21:23] #7 closed

[2019-09-14 15:36] JimmyHang commented on #11
Love to take on this one..

[2019-09-15 15:36] veronicageek opened #26 "List column or Site column - Which one to choose?"
**Article suggestion**

Difference between the creating List columns & Site columns, providing pros/cons.

[2019-09-15 15:37] veronicageek commented on #26
Happy to take that one.

[2019-09-16 13:57] sympmarc commented on #26
Thanks for raising this one and offering to take it on!

[2019-09-16 21:16] sympmarc opened #30 "Intro text change & other thoughts"
@bhall999's questions in PR #28...

[2019-09-16 21:17] sympmarc commented on #30
Interesting. I haven't heard the terms **Universal Site Columns** and **Universal Content Types** ( wasn't sure what you meant at first), but they _could_ make the conversation clearer. The problem is, Microsoft doesn't use these words, AFAIK.

What I think would be really good is "Where should I build my IA (and why)?" That was something I was thinking about writing, but I'd love to get your take

[2019-09-16 21:19] sympmarc commented on #30
Also see: https://github.com/SharePoint/sp-usage-docs/blob/master/docs/making-decisions/list-column-or-site-column-which-one-to-choose.md

[2019-09-17 16:54] PatD opened #31 "Versioning: lists, libraries, major vs minor, defaults, and best practices/pitfalls"
#### Article suggestion

Difference between major/minor versions, what defaults are set to, and how to work with and restore old ones. Best practice guide for lists and libraries.

[2019-09-17 16:57] PatD commented on #31
Happy to take this one.

[2019-09-17 17:44] sympmarc commented on #31
Thanks, Pat!

[2019-09-17 18:31] sympmarc opened #32 "What should the support group look like?"
Different size organizations - what should the support group look like? How big? What skills?

[2019-09-18 13:07] sympmarc commented on #30
From our offline conversation:

When I think about my “Where should I build my IA (and why)?”, I come at it from the bottom up. Will this set of content EVER be needed in more places than just this one? Will its structure serve proposes in ANY other place? I sort of think of it as the “rule of 1 + 1”. If there is ANY possibility of commonality with ANY other place (container), then we have to esca

[2019-09-18 16:16] veronicageek opened #33 "Benefits of using PowerShell with SharePoint"
**Article suggestion**
Benefits of using PowerShell with SharePoint

Talk about the different modules available for SharePoint on-prem & SPO, what's the purpose of using PowerShell, why is it so important nowadays, etc..

[2019-09-18 16:17] veronicageek commented on #33
More than happy to work on that one 😄

[2019-09-18 16:19] #26 closed

[2019-09-18 18:08] sympmarc commented on #33
This one is interesting, as it straddles the citizen developer role and the "IT Pro" role. Interested to see what you come up with!

[2019-09-18 18:40] pkbullock opened #34 "Content Weight of Modern Communication SharePoint Sites"
#### Article suggestion

When designing communication sites, intranets for example some of the look books, the consideration of the amount of content required to implement the design.

Article could contain some planning considerations with an example of a look book page, with estimate amount of minimum content to achieve a design.

Sharing is caring.

[2019-09-18 20:54] #17 closed

[2019-09-18 20:54] sympmarc commented on #17
Answered?

[2019-09-18 23:54] sympmarc commented on #33
Thanks for the submission. Closing for now...

[2019-09-18 23:54] #33 closed

[2019-09-19 14:12] sympmarc commented on #14
Ping. :)

[2019-09-19 16:14] nyoung30 commented on #5
Hi @tomresing & @sympmarc, I'll try to take this one on.

[2019-09-19 16:17] sympmarc commented on #5
Great! Assigning to you...

[2019-09-21 22:15] PatD opened #41 "SharePoint Permissions vs. Office 365 Group Site Permissions"
#### Article suggestion

We've blown countless cycles on figuring out the relationship (or lack there-of) between old-world style SharePoint permissions, and the Members/Owners style permissions in a Group SPO site.  Feel like we can't be the only ones.

I think the target for this article might be _"Site Owner who's done On-Prem permission work and is thrown into the SPO lifestyle"_

This one cou

[2019-09-23 12:07] sympmarc opened #44 "Glossary Terms"
Strikethrough has been added to Glossary.md, but may need a definition.

~~Targeted Release~~
~~Standard Release~~
~~First Release~~

From Twitter:
* ~~Team Site~~
* ~~Tenant (and Farm)~~
* ~~Governance~~
* ~~Site Collection vs Site. Root site collection vs any other site collection.~~
* ~~Licensing (Kiosk, F1, E1, etc.)~~
* ~~Taxonomy~~
* List columns vs site columns vs managed metadata (term sto

[2019-09-23 13:22] PatD commented on #41
Assign to me please.

[2019-09-23 13:29] nyoung30 commented on #5
Hi @tomresing  & @sympmarc, where would you suggest I put my content "/docs/basics" or "/docs/making decisions"?

[2019-09-23 14:24] pkbullock commented on #44
I've seen something in docs for this...

- https://docs.microsoft.com/en-us/office365/servicedescriptions/sharepoint-online-service-description/content
- https://docs.microsoft.com/en-us/office365/servicedescriptions/sharepoint-online-service-description/sites-servicedesc
- actually the entire service description section contains some of the blocks - https://docs.microsoft.com/en-us/office365/serv

[2019-09-23 14:48] ScottShearer opened #45 "Flow Introduction"
An article explaining the basics of Flow as it relates to SharePoint would be helpful.
The article should include an explanation of what Flow is designed to do as well as a comparison to SharePoint Designer workflows.
If this suggstion is accepted, I would be willing to create/contribute the article.

[2019-09-23 15:37] sympmarc commented on #5
@nyoung30 - Those directories were my early stab at some potential groupings. Feel free to just put it into /docs if you're not sure. We're rapidly getting to a point where we'll need to think about what other buckets we need.

[2019-09-23 15:38] sympmarc commented on #41
Done!

[2019-09-23 16:39] ScottShearer commented on #45
I'll get started....

[2019-09-23 17:54] nyoung30 commented on #5
Hi @tomresing & @sympmarc,

I have a first draft complete of library scenarios. I am planning on additional scenarios but more work is required on my end.

I've done this work in a "bubble". Could someone review and provide feedback? Also, am I OK to "pull" my first draft into the "master"?

Sorry for all the questions. This (GitHub) is new to me.

Thanks.

Norm

[2019-09-23 18:12] tomresing commented on #5
Yes. Please submit a pull request.

------
Tom Resing

[2019-09-23 18:13] sympmarc commented on #5
@nyoung30 - you can just issue a pull request. I'm the only admin at the moment, so I can review if you'd like.

[2019-09-23 21:36] JimmyHang opened #47 "Managing External Guest in SharePoint vs Teams"
External guest users are a bit scary, and there is big differences working with guest in SharePoint and Teams. This article will explain how it works and what to be aware of.

[2019-09-23 21:36] JimmyHang commented on #47
Happy for you to assign to me @sympmarc

Cheers

[2019-09-23 22:27] sympmarc commented on #47
Done!

[2019-09-27 13:55] sympmarc opened #48 "What is retention and how does it work in practical terms?"
Retention is a thorny concept. Not only do many organizations think they either need to retain everything or nothing, but the mechanics of how it works in Office 365 is complicated.

For example, if you are migrating content into Office 365 from an external source (on premises SharePoint, or any other source), you almost always WON'T want to have ANY retention policies in place as you go through t

[2019-09-30 15:18] nyoung30 commented on #5
@tomresing & @sympmarc - Can you please review and let me know if this is what you were looking for? I'm happy to schedule time via Teams. Thanks.

[2019-09-30 18:05] sympmarc commented on #5
@nyoung30 - I just read through the article. I think it's really helpful. It was @tomresing's original ask, so I'll defer to him as to whether it meets his needs.

[2019-09-30 18:18] tomresing commented on #5
I gave it a read through and agree it provides helpful scenarios for adding document libraries to an existing site. I really didn't have anything specific in mind, other than seeding the pool of ideas for PnP usage. In general, I'd love to see more list and library scenarios added over time. For example, with the fast growth of Microsoft Teams, scenarios may be different that interacting with site

[2019-09-30 18:19] tomresing commented on #5
I think I'll close this one for now, since it wasn't very specific and something new was added, which was the goal. If the community needs more ideas added to the pool in the future, I could add more.

[2019-09-30 18:19] #5 closed

[2019-09-30 18:20] tomresing commented on #5
Thanks @nyoung30 and @sympmarc!

[2019-10-01 22:00] nyoung30 commented on #5
Thanks for the feedback @tomresing and @sympmarc. I know there is room for improvement in my writing style, so feedback is welcome.

I'm looking forward to contributing more!

Thanks.

Norm

[2019-10-02 13:21] sympmarc commented on #5
I'm hoping the community becomes active here and we get into a collaborative editing mode. :)  I appreciate you jumping in!

Veronique Palmer just did a [post](https://veroniquepalmer.com/2019/10/01/rock-photo-albums-on-modern-sharepoint/) with a cool scenario for lists. I've asked her if she'd like to contribute. These scenario-based articles will be really helpful to people, I think - especially

[2019-10-02 13:43] sympmarc commented on #5
p.s. I tweeted out your article the other day, but couldn't find you on Twitter. Do you have a handle there?

[2019-10-02 14:05] tomresing commented on #5
+1 on collaborative editing mode and twitter. On collaboration, what do you two think about the byline at the bottom of this article? I'm afraid it might discourage others to come in and make edits. @nyoung30 if you don't have a twitter account yet, I'd encourage it. Great resource for writers.

[2019-10-04 17:29] veronicageek opened #54 "Changing Microsoft Teams from Private to Public - What to expect in SharePoint?"
#### Article suggestion
Quick article describing privacy settings, and what happens in SharePoint (online) when changing privacy to Public.

[2019-10-04 17:29] veronicageek commented on #54
Happy for you to assign to me

[2019-10-06 01:03] PatD commented on #41
Just sent in the pull request for this one.

I welcome any and all suggestions/edits/feedback - I'm not a consultant, and only work in 1 farm, so my perspective might be a little limited.

[2019-10-06 17:38] #54 closed

[2019-10-07 14:55] PatD opened #58 "Importing data into SharePoint"
#### Article suggestion

Site Owners should be ready to assist, and encourage, end-users with getting their existing stuff into SharePoint.

Think it should be scoped to methods, not metadata/folder nuances.  Would like to see an article on the methods both front-end-center (dragging and dropping folders) and power-user focused (Excel-export to SharePoint?).

[2019-10-07 15:35] sympmarc commented on #30
Good conversation, but I'm going to close this as an "issue". Feel free to start new ones if we didn't accomplish something.

[2019-10-07 15:35] #30 closed

[2019-10-08 19:33] pkbullock commented on #22
I'm going to close this as seems this is covered by that, thanks Marc!

[2019-10-08 19:58] sympmarc commented on #22
I'm also thinking that we have a sort of building block approach here:
* Glossary terms which can be referred to in...
* "What is" articles about a single topic in more depth, which can be referred to in...
* Making decisions articles which enable us to decide how to do things more effectively.

[2019-10-08 20:01] pkbullock commented on #22
Yeah i see your point, lets reopen this, to keep this on the radar. Tbh lots to add to glossary - difficult to think what terminology to add, when we use it daily we don't always realize others do not know.

[2019-10-14 11:38] nyoung30 commented on #58
I'll help with this one.

[2019-10-14 18:44] sympmarc commented on #58
Thanks, @nyoung30!

[2019-10-22 16:58] sympmarc commented on #10
How's it going, my man?

[2019-10-27 12:11] AnoopNagappan commented on #44
Hi friends,

Could you please guide me how to get context for other site collection... I need to fetch list from other site collection.

Any guiding docs or please feel free to share your thoughts

[2019-10-27 19:34] sympmarc commented on #44
@AnoopNagappan - This is an issue about glossary terms. I think I answered your question above on Twitter.

[2019-10-28 17:54] nyoung30 commented on #58
Hi @PatD

[First draft](https://github.com/SharePoint/sp-usage-docs/blob/master/docs/basics/importing-data.md) complete. Review and provide feedback if you like.

Thanks.

Norm

[2019-10-28 18:10] sympmarc commented on #58
I'm going through it and just adjusting some formatting, etc.

We may want to add some info about the [SharePoint Migration Tool](https://docs.microsoft.com/en-us/sharepointmigration/introducing-the-sharepoint-migration-tool).

We have a spectrum of options here, from the drag and drop you start with to using third party migration tools.

[2019-10-29 13:00] sympmarc commented on #58
And I should have said thank you for the contribution!

[2019-10-29 17:12] sympmarc commented on #58
Suggestion from Francis Laurin:

_Using OneDrive sync to move lot of content. Found that Copy/Move To is unreliable for hundreds of files and folders. Also, SP Migration Tool to move from file share._

[2019-10-29 18:36] nyoung30 commented on #58
More good ideas. I'll add to the list.

Thanks.

[2019-10-30 00:02] sympmarc commented on #58
Suggestion from Russell Gove:

_Using MS Access. we can pull data from sql server and pump it in to sharepoint lists._

[2019-10-30 19:23] sympmarc commented on #58
Since this article is getting pretty long, I added a navigation table at the top.

[2019-10-30 19:29] PatD commented on #58
@nyoung30 Good article, appreciate the screenshots!

[2019-10-30 19:31] PatD commented on #31
Ok to add this one one to the TOC?

[2019-10-30 19:33] sympmarc commented on #31
Absolutely. Sorry I missed it. Gives us something else to tweet (etc.) about!

[2019-10-31 14:49] sympmarc commented on #31
Added to TOC along with some minor edits. Closing this issue...

[2019-10-31 14:49] #31 closed

[2019-11-01 13:42] PatD opened #62 "Checklist for helping/working a customer build out a new SharePoint site"
I (as an admin/developer/builder of SharePoint) keep a non-customer/project-specific checklist of tasks to perform before handing over the keys to someone in the business.

Things like:
- Permissions configured?
- Customer has had training if needed?
- Hub site yes/no?
- Customer knows how to get support?
- etc

I propose creating this "Site Builder/Owner: New Site Checklist" as part of the Usage

[2019-11-03 23:01] nyoung30 opened #64 "What are the typical site owner tasks and responsibilities?"
What are some of the typical site owner tasks, responsibilities and best practices? Some items to consider:

- User support. At what point does the site owner escalate to IT?
- Security membership review, approval, renewal etc.
- Site closure and expiration review and action.
- Item recovery including version history and Recycle Bin.
- Monitor site capacity.
- Create new site assets (libraries, un

[2019-11-18 13:53] #10 closed

[2019-11-18 23:39] #11 closed

[2019-12-01 13:30] nyoung30 commented on #62
I can help with this one.

[2019-12-01 20:40] sympmarc commented on #62
Thanks, Norm!

[2019-12-03 12:41] pkbullock opened #67 "Example architectures e.g Intranet and DMS"
#### Article suggestion

From a discussion at a SharePoint Saturday, a question was asked about example implementations e.g.

- multisite modern intranet, example architecture and suggested departments.
- multisite document repositories.

These are more around architectural examples, what combination of features can be used to form these types of implementations.

[2019-12-03 12:55] sympmarc commented on #67
This would be a great article for the Scenarios section.

[2019-12-06 09:19] #16 closed

[2019-12-11 20:27] nyoung30 commented on #62
@PatD is there anything else you add to the checklist?

[2019-12-15 00:27] PatD commented on #62
Hey @nyoung30 - maybe these?

- List versioning is enabled if you've built the customer a custom List
- Libraries have versioning enabled (if On-prem)
- Connected to Content Type Hub if one is available at organization
- Customer knows all the tools they're getting (Site, Group, Team, etc)
- Logo graphic added
- Sanity-check: Has the customer been added as a Member/Owner before telling them the si

[2019-12-15 00:36] PatD commented on #62
Oh dang, I didn't even see that you contributed the .md file for this already.  My bad for missing that!

[2020-01-31 09:55] AnoopNagappan opened #70 "Azure environment issue-Could not load file or assembly ‘Newtonsoft.Json,Version=10.0.0.0’"
**Could not load file or assembly 'Newtonsoft.Json, Version=10.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed' in Azure Functions**

After copying  "MicrosoftTeams" modules files into Azure Kudu environment and and tried to run the "Connect-MicrosoftTeams" and getting below error,

                       ‘Could not load file or assembly ‘Newtonsoft.Json, Version=10.0.0.0’

![error](https:

[2020-02-14 20:36] JimmyHang commented on #47
Took me some time, but I finally found the time to complete this article, ;)

[2020-02-17 14:23] sympmarc commented on #47
Thanks, @JimmyHang!

[2020-02-17 18:59] #47 closed

[2020-02-21 02:35] pamgreen-msft commented on #70
Hi @AnoopNagappan , I think you may have the wrong repo for  your issue. This issue over in the Azure Functions repo looks related to your question: https://github.com/Azure/azure-functions-vs-build-sdk/issues/107

[2020-02-25 09:22] JimmyHang opened #73 "Working with modern clientside pages using PnP PowerShell"
#### Article suggestion

Tips & Trick related to clientside pags using PnP PowerShell

- Creating new pages
- Modifying webpart properties

Please assign this to me @sympmarc

[2020-03-01 16:32] sympmarc opened #74 "How should organizations decide what to use for org-wide communications?"
#### Article suggestion

Tony Redmond did a post about [Microsoft’s Bad Idea to Create an Org-Wide Team for New Office 365 Tenants](https://office365itpros.com/2020/02/29/org-wide-team-small-tenants/)

“Microsoft has announced their intention to create an org-wide team for new small to medium tenants with under 5,000 users. This might help Teams, but it’s a horrible idea on many levels. Microsoft

[2020-03-02 13:53] eemancini commented on #74
I would love to contribute to this one!

[2020-03-02 14:25] sympmarc opened #75 "Repo update and thanks"
@nyoung30 @pkbullock @veronicageek @pealmasa @PatD @tom-daly @juliemturner @SusanHanley @joannecklein @hugoabernier @eemancini

As the premier set of contributors to this repo, @vesajuvonen and I truly thank you! (He didn't say to include him, but I know how he feels.) We're about to launch the docs.microsoft.com version of the repo, and we couldn't have gotten to this point without you! The docs

[2020-03-02 14:38] sympmarc commented on #70
@AnoopNagappan I'm going to close this issue, since it does seem to fit more where @pamgreen-msft pointed you. If you are still having the issue and feel it belongs here, we can reopen it.

[2020-03-02 14:38] #70 closed

[2020-03-02 14:46] ScottShearer commented on #45
Sorry that this got overlooked...
I'll have something over the next few weeks.

[2020-03-02 14:57] sympmarc commented on #75
Sorry - I missed @jimmyhang.

cc: @pamgreen-msft @traya1 @dstrome

[2020-03-02 15:19] sympmarc commented on #75
And I also missed some important things!

We'll be reorganizing the repo today to both adhere to some standards for the docs connection as well as to make the content flatter (are folders bad?).

- The [README](https://github.com/MicrosoftDocs/microsoft-365-community/blob/master/README.md) has been updated with the new name and logo for the effort: **Microsoft 365 Community Docs**.
- The articles

[2020-03-02 15:22] veronicageek commented on #75
Due to the name change (to M365) I was wondering if articles would expand in topics and you confirmed that 🙂

Thanks
Veronique

Veronique
________________________________
From: Marc D Anderson <notifications@github.com>
Sent: Monday, March 2, 2020 3:19:16 PM
To: MicrosoftDocs/microsoft-365-community <microsoft-365-community@noreply.github.com>
Cc: Veronique Lengelle <minus20@msn.com>; Mention <men

[2020-03-03 01:47] nyoung30 commented on #58
The article is complete. @PatD can you please close the issue?

[2020-03-03 01:48] nyoung30 commented on #62
Version 1 of the article is complete. I'll be happy to revisit in the near future. @PatD can you please close the issue?

[2020-03-03 01:50] nyoung30 commented on #64
This issue is still relevant and I am happy to be assigned it.

[2020-03-03 01:54] nyoung30 commented on #75
This is great news, I am proud to have been a part of it and am looking forward to contributing more in the future.

I've added comments to open issues assigned to me.

Thanks @sympmarc!

Norm

[2020-03-03 03:42] sympmarc commented on #58
Thanks, @nyoung30!

[2020-03-03 03:42] #58 closed

[2020-03-03 03:43] sympmarc commented on #62
Thanks, @nyoung30. @PatD - if you'd like to add anything, feel free to create a new issue or add a PR.

[2020-03-03 03:43] #62 closed

[2020-03-03 03:44] sympmarc commented on #64
Great, @nyoung30. Looking forward to your ideas.

[2020-03-03 11:58] PatD commented on #41
Per Marc's March 2 request, this can either be closed - an article [exists](https://github.com/MicrosoftDocs/microsoft-365-community/blob/master/docs/basics/permission-model-diferences.md) or re-assigned.

[2020-03-05 16:04] sympmarc commented on #75
I think most of the reorganization is complete. Thanks to those of you who have replied back about the issues assigned to you. Time to move forward!

[2020-03-05 16:07] joannecklein commented on #75
Hi Marc, i haven’t had a chance to go in and ensure the content is up to date but i plan on doing that this weekend.

Thanks for all you’ve done on this initiative!

Joanne K

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Marc D Anderson <notifications@github.com>
Sent: Thursday, March 5, 2020 10:04:17 AM
To: MicrosoftDocs/microsoft-365-community <microsoft-365-

[2020-03-05 16:08] sympmarc commented on #75
@joannecklein - we're just getting started! Thanks for doing the review...

[2020-03-05 16:09] pkbullock commented on #75
I’ll do the same Marc go in over the weekend, been working hard on the modernisation tooling this slipped my mind. Sorry.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Joanne Klein <notifications@github.com>
Sent: Thursday, March 5, 2020 4:07:45 PM
To: MicrosoftDocs/microsoft-365-community <microsoft-365-community@noreply.github.com>
Cc: Paul Bullock <paul.bull

[2020-03-05 19:02] JimmyHang commented on #73
Article commited, ;)

[2020-03-05 19:05] sympmarc commented on #73
Thanks, @JimmyHang. I'll probably be making some edits to bring it into line with the new structure we're working toward (but haven't documented yet).

[2020-03-05 19:05] #73 closed

[2020-03-05 19:07] JimmyHang commented on #73
#awesome..

[2020-03-09 07:17] pkbullock commented on #21
Please can you free this up for others to contribute on this subject.

[2020-03-09 07:20] pkbullock commented on #22
@sympmarc is this worth keeping open, feels like a continuous activity?

[2020-03-09 07:21] pkbullock commented on #19
I have started this one, just need to check my fork since the move, and ill finish this one.

[2020-03-09 07:24] pkbullock commented on #34
I feel this one can be closed, i have noticed that the look books now indicate was added to making the design, thus this is no longer relevant.

[2020-03-09 12:05] sympmarc commented on #22
It is, but I suppose it could stay open forever. It feels like we’ve gotten somewhere with the glossary, but don’t have as much in the Basics session to cover the goals here.

[2020-03-09 18:38] sympmarc commented on #34
Thanks, @pkbullock.

[2020-03-09 18:38] #34 closed

[2020-03-09 18:39] sympmarc commented on #19
Hopefully the fork hasn't run away with the spoon.

Note that the restructuring may wreak a bit of havoc in your fork...

[2020-03-10 20:36] JimmyHang commented on #13
This would be super useful, I'll give it a try @sympmarc, but to be honest mate I barely understand it myself so someone should look over when I'm done, ;)

[2020-03-10 21:14] sympmarc commented on #13
I've let this languish because I'm not sure anyone can really explain it. I'm learning different takes on it all the time, which make my prior assumptions incorrect. TBH, I'm not sure we should try to cover it here, as it's bound to change again.

[2020-03-10 21:17] JimmyHang commented on #13
agree, it's a shame that's it's so difficult...

[2020-03-14 23:17] bigpix2000 commented on #13
I will take this on. We have guidance done the key doc and I have done and will do a seminar on this.

[2020-03-14 23:18] bigpix2000 commented on #13
As a note the licensing will transcend apps and cover flow and even the new fangled power virtual agents ;-)

[2020-03-14 23:29] sympmarc commented on #13
Awesome. Looking forward to seeing what you come up with.

If you can slant it to citizen devs, that would be great. In other words, not just for admins or someone who needs to understand cost implications: what citizen devs need to know to discuss what they need and why they need it.

Make sense?

[2020-03-14 23:32] bigpix2000 commented on #13
Yes.... Just quick riffing here, from the citizen dev angle, first know what you got, what it costs to use it in the various combinations then how to ask for what you need or want now that you know what you get for the money

[2020-03-14 23:35] sympmarc commented on #13
I think the “why you need a license” in terms of business benefit. I think we’re saying similar things. Have at it!

[2020-03-14 23:36] bigpix2000 commented on #13
Got it and on it!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Marc D Anderson <notifications@github.com>
Sent: Saturday, March 14, 2020 6:35:13 PM
To: MicrosoftDocs/microsoft-365-community <microsoft-365-community@noreply.github.com>
Cc: Ralph Rivas <ralph_rivas@msn.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/microsoft-365-community]

[2020-03-14 23:45] sympmarc commented on #75
Adding @bigpix2000, as he just offereed to help with #13...

Another suggestion to you folks: you may be getting some public credit for your work here in the near future. Please make sure your Github profiles reflect who you really are: name, photo, location, company (if you want), etc. We want people to know who you are!

[2020-03-14 23:47] bigpix2000 commented on #75
So many profiles so many places ... thanks for the reminder ... added to my tasks

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Marc D Anderson <notifications@github.com>
Sent: Saturday, March 14, 2020 6:45:28 PM
To: MicrosoftDocs/microsoft-365-community <microsoft-365-community@noreply.github.com>
Cc: Ralph Rivas <ralph_rivas@msn.com>; Mention <mention@noreply

[2020-03-15 10:13] pealmasa commented on #75
Hi Marc,

I have collaborated on this article
https://github.com/MicrosoftDocs/microsoft-365-community/blob/master/Community/list-column-or-site-column-which-one-to-choose.md
but I don't see my name on it.

cheers

On Sat, 14 Mar 2020 at 23:45, Marc D Anderson <notifications@github.com>
wrote:

[2020-03-15 18:31] sympmarc commented on #75
@pealmasa  Looking at that article history, I don't see any changes from you. Are you sure that's the right one? I'm hoping we didn't lose any attribution when we moved things from sp-usage-docs to this new repo.

[2020-03-15 22:33] pealmasa commented on #75
I believe we did lose. I've added the search related part of the list vs
site column.
No worries, I expect to contribute more as time allows me.

On Sun, 15 Mar 2020 at 18:31, Marc D Anderson <notifications@github.com>
wrote:

[2020-03-16 05:10] bigpix2000 commented on #13
I believe I was able to put it in ... someone please confirm the article is there?  Thanks! cc: @sympmarc

[2020-03-16 13:01] sympmarc commented on #75
Over the weekend, I did some reorganizing. If any of you have a chance, take a look at the revised [TOC](https://github.com/MicrosoftDocs/microsoft-365-community/blob/master/Community/TOC.md). I think this broader structure will give us more room to grow.

@pealmasa I'm really sorry that detail disappeared. No worries, though. The fact that you are involved in this discussion means we know you are

[2020-03-16 13:37] JimmyHang commented on #75
#wow, it's super awesome love it, ;)

[2020-03-16 14:04] bigpix2000 commented on #75
@sympmarc , let me know what you recommend I do for the article created for licensing (issue #13 )  I just recalled that there was going to be an MD template for articles after I created mine. Thanks in advance!

[2020-03-16 14:16] sympmarc commented on #13
@bigpix2000 - I don't see a pull request. Do you need help getting it posted?

[2020-03-16 14:23] bigpix2000 commented on #13
Figures .. it is in my Fork.  Need to get it over to the main … yes just a quick procedure via the main interface should help as I am usually doing Code in one of the tools.

Thanks in advance!

From: Marc D Anderson <notifications@github.com>
Sent: Monday, March 16, 2020 9:17 AM
To: MicrosoftDocs/microsoft-365-community <microsoft-365-community@noreply.github.com>
Cc: Ralph Rivas <ralph_rivas@msn

[2020-03-16 14:29] JimmyHang commented on #13
Hi @bigpix2000, create a pull request using this guide here. :)
https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request

[2020-03-16 14:33] JimmyHang commented on #13
on your computer, verify your git config by the way, otherwise your name might not be shown rite in the article, I forgot this with the earlier articles. ;)
verify your local config | **git config user.email** | if your git email is present you're good to go.. ;)

if not run this:

make sure the email is the same as your github settings

[2020-03-16 14:48] bigpix2000 commented on #13
It is set correctly for what I have been working on of late and my debate is which to use for this purpose so I will stick to my “business one” for now. Otherwise, that part is set.  Thanks!

From: Jimmy Hang <notifications@github.com>
Sent: Monday, March 16, 2020 9:34 AM
To: MicrosoftDocs/microsoft-365-community <microsoft-365-community@noreply.github.com>
Cc: Ralph Rivas <ralph_rivas@msn.com>; M

[2020-03-16 17:27] bigpix2000 commented on #13
I think I got it: https://github.com/MicrosoftDocs/microsoft-365-community/pull/119

From: Jimmy Hang <notifications@github.com>
Sent: Monday, March 16, 2020 9:34 AM
To: MicrosoftDocs/microsoft-365-community <microsoft-365-community@noreply.github.com>
Cc: Ralph Rivas <ralph_rivas@msn.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/microsoft-365-community] Explain PowerApps

[2020-03-16 17:27] bigpix2000 commented on #13
I think I got it .. https://github.com/MicrosoftDocs/microsoft-365-community/pull/119

From: Marc D Anderson <notifications@github.com>
Sent: Monday, March 16, 2020 9:17 AM
To: MicrosoftDocs/microsoft-365-community <microsoft-365-community@noreply.github.com>
Cc: Ralph Rivas <ralph_rivas@msn.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/microsoft-365-community] Explain Pow

[2020-03-16 18:27] sympmarc commented on #13
First pass from @bigpix2000 here:
https://github.com/MicrosoftDocs/microsoft-365-community/blob/master/Community/powerplatformlicensingforcitizendeveloper.md

[2020-03-18 11:54] sympmarc commented on #13
There’s been some debate elsewhere about the contents of this article. Let’s try to have a constructive discussion about potential improvements here.

[2020-03-18 12:17] bigpix2000 commented on #13
As a quick note ... last I heard on the debate was not so much information being incorrect but rather how it affects potential usage and costs going forward.  I am thinking the article could use some "sample cases" to also compare the old versus new to underscore the differences?  I am trying not to make any judgments either.   If something is still unclear, then I definitely look forward to seein

[2020-03-18 21:39] JimmyHang opened #122 "Howto - Low Code Teams Provisioning"
#### Article suggestion

Governance of Teams is super important, if not managed we will get the mess we had and still have with "file shares".

Happy to write about this @sympmarc

[2020-03-18 21:43] sympmarc commented on #122
Since I'm in the midst of the virtual MVP Summit, I couldn't agree more!

[2020-03-19 12:42] bigpix2000 commented on #13
All quiet on the western front ... my virtual assistant is reminding me daily to follow up so this does not go too long sitting in a uncompleted state.  I know folks are busy with the regular day but if you anticipate participating in the discussion, perhaps just reply with a "here" for now and we can work through all our schedules more efficiently.  I have wherewithal to be directed so do not fee

[2020-03-20 07:14] johnnliu commented on #13
Wanted to comment on actual realistic licensing of Flow, and this is where it gets quite technical.

**The rules**

While licensing talks of Standard and Premium, and premium are licensed per flow or per user.  In practice, Flow licensing should be considered according to usage, and in this case - how is the flow triggered.

**Automated Flow**

A flow that is triggered by some sort of webhook or p

[2020-03-20 07:30] johnnliu commented on #13
**TLDR** US$15/m

[2020-03-20 10:33] bigpix2000 commented on #13
This is perfect and exactly helps with the article! To be sure I left out all the judgement and other bits like what folks should use which were part of my love session but seeing that same discussion here with scenarios certainly brings it home. A lot of this would replace the more (overly?) simplistic next steps section with a deep dive for practical discussion.  Now to see how to make that work

[2020-03-24 13:04] bigpix2000 commented on #13
@sympmarc , I want to add @johnnliu as contributing author as I will be lifting some of this pieces wholesale into the updated article.  Do you have the mark down parameters handy so I can add them as part of my edits?  Thanks!

[2020-03-24 13:10] sympmarc commented on #13
@bigpix2000 You can add @johnnliu at the bottom where you've got yourself listed as Principal Author. I'm not sure if we can have multiple authors up top in the YAML. @JoanneHendrickson?

[2020-03-24 13:21] bigpix2000 commented on #13
Something like this I was thinking at the bottom?

**Principal author**: [Ralph Rivas](https://www.linkedin.com/in/ralphrivas/)
**Principal contributor**: [John Lui](johns linked in here)

From: Marc D Anderson <notifications@github.com>
Sent: Tuesday, March 24, 2020 8:11 AM
To: MicrosoftDocs/microsoft-365-community <microsoft-365-community@noreply.github.com>
Cc: Ralph Rivas <ralph_rivas@msn.com>

[2020-03-24 13:25] sympmarc commented on #13
Yup, that's what I meant.

[2020-03-24 14:51] bigpix2000 commented on #13
@johnnliu ... what does COG refer to in your notes?  Cognitive?  Cost something?  Just checking as I am getting this in.  Thanks in advance!

[2020-03-24 15:53] bigpix2000 commented on #13
The item I am unsure about is the definition of COG as I do not want to leave any acronym undefined before using it (at least once) ....  I am also thinking more examples but I also want to give credit to those who contribute them. thanks!  cc: @sympmarc  @johnnliu

[2020-03-24 16:54] bigpix2000 commented on #13
grrr ... how did the one spelling error get through (maybe more than one :( )   ...  waiting for it to merge and I will clean up thanks

[2020-03-24 17:40] bigpix2000 commented on #13
On that note, after you get the last piece in, I can do a PR and fix that .... Hopefully @johnnliu will chime in with his Linked in for the one spot as well as look at my Acronym question :)

[2020-03-24 17:43] sympmarc commented on #13
I did merge your PR. You can issue multiple PRs that build on each other, I think. @johnnliu is on the other side of the planet (Sydney), so he might be sleeping. :)

[2020-03-24 17:45] bigpix2000 commented on #13
That’s right … time flew by so missed his window …

Thanks!  Will make the mini fixes

From: Marc D Anderson <notifications@github.com>
Sent: Tuesday, March 24, 2020 12:44 PM
To: MicrosoftDocs/microsoft-365-community <microsoft-365-community@noreply.github.com>
Cc: Ralph Rivas <ralph_rivas@msn.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/microsoft-365-community] Explain P

[2020-03-24 18:18] bigpix2000 commented on #13
Done …. Building is busy but should be there soon ….

From: Marc D Anderson <notifications@github.com>
Sent: Tuesday, March 24, 2020 12:44 PM
To: MicrosoftDocs/microsoft-365-community <microsoft-365-community@noreply.github.com>
Cc: Ralph Rivas <ralph_rivas@msn.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/microsoft-365-community] Explain PowerApps Licensing Scheme for Cit

[2020-03-26 15:10] bigpix2000 commented on #13
So how is it looking for folks following this thread?    Thoughts?

[2020-04-03 14:48] bigpix2000 commented on #13
Thanks all who helped with this!!

[2020-04-05 15:31] veronicageek opened #134 "Should I store my files in Teams or SharePoint? An understanding of behind the scene"
#### Article suggestion

Explain what's happening behind the scene when users are creating or uploading documents/files in a Team or Channel.

#### Submission Guidelines

With the push in using Microsoft Teams (_sometimes in a hurry due to the current circumstances_), I've heard so many times organisations asking this question, and I feel there's a need to clarify, and explain what happens to file

[2020-04-05 15:31] veronicageek commented on #134
@sympmarc - Happy for you to assign to me 🙂

[2020-04-05 15:45] sympmarc commented on #134
Great idea! Now that we are in docs officially, let’s make sure we avoid duplication of existing content. Though in this case, I think your slant may be different than existing content. @JoanneHendrickson cal let us know.

[2020-04-05 15:54] veronicageek commented on #134
I've only found this documentation, that's why I thought we could elaborate a bit:

https://support.microsoft.com/en-gb/office/file-storage-in-teams-df5cc0a5-d1bb-414c-8870-46c6eb76686a

[2020-04-05 16:51] sympmarc commented on #134
That seems awfully minimal! I figured you’d done your research. :-)

[2020-04-06 12:51] sympmarc commented on #13
@bigpix2000 - Sorry I haven't replied. I appreciate all your effort on this. If there are any issues with the content, the community shall speak!

I'll close this isses, since we have the article in place.

[2020-04-06 12:51] #13 closed

[2020-04-06 21:39] sympmarc opened #135 "Information Architecture - List and Library "Limits""
People are often confused by the supposed 5000 item "limit". I have complained about it many times. In reality, it isn't a "limit". There are ways to mitigate the issues with "large" lists:

* There’s no need to divide by 5000. It’s all about the use cases.
* The more realistic “limit” now is 20k items, but even that is a list view threshold. It’s always been a “list view threshold”, not a “limit”

[2020-04-07 16:37] JoanneHendrickson commented on #134
Doing some checking for additional content -- will follow up shortly.  Thanks!

[2020-04-09 18:51] bigpix2000 opened #141 "Update power platform licensing for citizen developer article to include new RPA License!"
#### Article issue
https://github.com/MicrosoftDocs/microsoft-365-community/blob/live/Community/powerplatformlicensingforcitizendeveloper.md needs to add the new bits in the licensing guide! https://flow.microsoft.com/pricing specifically and https://go.microsoft.com/fwlink/?linkid=2085130 in general

assign it to bigpix2000 the author who is ready to fix it albeit it will be a few days to confirm

[2020-04-09 20:14] akaskela opened #142 "Error in licensing guidelines"
#### Article issue

Article Title: Understanding Power Platform Licensing
Link: https://docs.microsoft.com/en-us/microsoft-365/community/powerplatformlicensingforcitizendeveloper

In the Licensing by Platform section, under "Run Unlimited Apps" – Per User/Per Month (e.g. US$ 40), there is a copy/paste error. The bullet point:
   * Sometimes referred to as the "Per App" Plan

is incorrect and shoul

[2020-04-10 12:55] sympmarc commented on #142
@bigpix2000 - Can you handle this with your other updates?

[2020-04-10 13:31] bigpix2000 commented on #142
Yes and I thought I cleaned that one up before so indeed .... I should clean that one first and then deal with the bigger one which is to add the brand new licensing bit for RPA .... I need to get a use case for the latter.

[2020-04-10 13:55] bigpix2000 commented on #142
Fixed the quick issue above which turned out to be two bullet points wrong not just the one ... I  figured if it was a cut and paste issue that I thought was fixed then the other thing that was wrong was still wrong and indeed that was the case .... now fixed ... #141  will be in progress in the meantime thanks!

[2020-04-10 16:02] bigpix2000 commented on #142
I think I miss typed the fix for this one as related to 141 rather than fixing #142 ... I saw a merge go in for #143 which is related to this going to live so I believe we can close it also.  (I need a bigger keyboard as I get older )

[2020-04-17 12:21] veronicageek commented on #134
Hi @JoanneHendrickson, any news?

[2020-04-17 14:32] JoanneHendrickson commented on #134
Hi @veronicageek   the only other one i found was this:  https://support.office.com/en-us/article/Should-I-save-files-to-OneDrive-or-SharePoint-d18d21a0-1f9f-4f6c-ac45-d52afa0a4a2e   , but I feel like it isn't specific enough.  Just pinged two other folks, and will get back to you later this morning.  But I think this idea definitely is worth pursuing.  Thanks!

[2020-04-17 22:39] JoanneHendrickson commented on #134
Hey @veronicageek  -- let's go ahead and create a topic on this! Great idea.!

[2020-04-19 22:03] pkbullock opened #151 "Organizing Modern Communication Pages"
In light of a recent discussion around megamenus on twitter, it struck me that there isn't clear guidance on the options for organizing page content within modern communication site(s).

E.g. Multi-Site, Multiple pages, navigation including approaches, guidance

[2020-04-20 12:33] #134 closed

[2020-04-20 12:53] sympmarc commented on #151
Good idea! I know @SusanHanley and @eemancini have thoughts on this.

[2020-04-20 13:21] sympmarc commented on #151
@JoanneHendrickson - I think there may be some articles out there already or in the works?

[2020-04-21 12:39] sympmarc opened #152 "CDS and Model-Driven Apps Naming Conventions"
#### Article suggestion

After a quick survey of the Power Community on Twitter, there don't seem to be any written standards for naming and other conventions around CDS and model-driven apps. Having some sort of guidelines for the community would be useful to ensure higher quality solutions.

[2020-04-21 12:49] sympmarc commented on #152
Initial article stub: [CDS and Model-Driven Apps Standards and Naming Conventions](https://github.com/MicrosoftDocs/microsoft-365-community/blob/master/Community/cds-and-model-driven-apps-standards-and-naming-conventions.md)

[2020-04-21 15:16] pkbullock commented on #152
Hi Marc, I have a page, i'm working on for naming for SharePoint elements, just wondering if a glossary like page to consolidate, then other folks can add their tech/suggestions in. Depends on how much is written per area I guess. What do you think?

Ref #19

[2020-04-23 14:02] sympmarc opened #155 "Move instructional articles into the wiki and delete"
I’m also moving a few “articles” into the wiki. They shouldn’t really be articles at all: they are “meta”.

Like:
https://github.com/MicrosoftDocs/microsoft-365-community/blob/master/Community/adding-content.md
into
https://github.com/MicrosoftDocs/microsoft-365-community/wiki/Adding-Content

[2020-04-23 14:54] sympmarc commented on #155
Getting Started and Adding Content moved to the wiki and deleted from Community.

[2020-04-23 14:54] #155 closed

[2020-04-23 17:07] sympmarc commented on #152
@pkbullock - I think the better practices for SharePoint are probably a bit different than for CDS, but since I can't find anything specific, I'm not sure! Let's keep the two ideas separate for now; we can merge later if it seems like it makes sense.

[2020-04-23 21:19] KeithWhatling opened #156 "CDS - Related fields"
Related field logical names should be suffixed with id so a many - to - one relationship from an entity called measure to an entity called session would be pub_sessionid.

Relationship table names should be renamed to pub_measure_N1_session.

[2020-04-23 21:34] sympmarc commented on #156
Added to [CDS and Model-Driven Apps Standards and Naming Conventions](https://github.com/MicrosoftDocs/microsoft-365-community/blob/master/Community/cds-and-model-driven-apps-standards-and-naming-conventions.md) with some edits.

Feel free to edit the doc directly or continue to add ideas here.

[2020-04-24 13:36] sympmarc opened #157 "Organization of Docs in Cards on 'Microsoft 365 Community Content'"
From @veronicageek:

Looking at the M365 Community Docs, I was wondering if maybe, we could put the articles in alphabetical order or something inside of their group (Basics, IA, etc…)?
I think it would be easier… Knowing that when you’re on that page and you search, it’s actually not scoped to the Community Docs 😕

[2020-04-24 13:39] sympmarc commented on #157
Yes, it is going to get confusing over time. Talking to the MS folks, the goal of the “cards” is to highlight up to 10 articles per category. There will be more articles available on the left side after a while.

To date, I’ve been adding articles to the bottom of the cards as they come in. That makes little sense, of course. Alphabetical probably doesn’t make a lot of sense, either, since the tit

[2020-04-24 14:35] veronicageek commented on #157
Thanks @sympmarc - It's just to give a little bit of organisation or make it easier for users. I think it could bring ideas and requests from users for more topics 🙂

[2020-04-24 15:03] sympmarc commented on #157
In my mind, showing the "Top 10" in each card makes sense, with everything else still available on the left. Over time, I'm sure our thinking will evolve based on the activity we see, plus the way the corpus of content expands.

[2020-04-24 15:29] JoanneHendrickson commented on #157
I agree Veronica, we need to have easy to navigate experience especially if the content set expands into all aspects of M365. I am gathering what data there is at this stage, and soon we will have reports generated for this repo.

[2020-04-24 20:26] veronicageek opened #158 "Why SharePoint Training is important"
#### Article suggestion
Describe / give evidence as to why SharePoint Admins / Users training is important.

#### Submission Guidelines
From my experience, SharePoint is really misunderstood. Organisations (very) often neglect or underestimate the need for users training, throw users in the 'wild' and hope for the best, or simply don't use the platform because "too complex".

I'd like to talk abou

[2020-04-24 20:26] veronicageek commented on #158
@sympmarc - Happy for you to assign to me.

[2020-04-25 23:18] #158 closed

[2020-04-27 16:58] sympmarc commented on #158
@veronicageek I made some small edits and added a few Related Articles and Related Resources at the bottom.

[2020-04-27 17:39] veronicageek commented on #158
No problem @sympmarc, thank you!

[2020-04-27 21:22] pkbullock commented on #19
Think i may expand on this, seems my submission maybe a bit short...

[2020-04-27 22:25] sympmarc commented on #19
Great to have something in place. I'll close this, and you can make edits later if you'd like.

[2020-04-27 22:25] #19 closed

[2020-04-28 08:32] veronicageek commented on #158
@JoanneHendrickson - FYI, the banner saying it's a community article is missing on the Live published version

[2020-04-29 18:23] veronicageek commented on #64
@nyoung30 @sympmarc
Happy to take that one on if nobody is assigned to it? I'll use Norm's items as a starting point.

[2020-04-29 18:54] veronicageek commented on #21
@sympmarc @pkbullock - Happy to be assigned to this one if nobody is on it? 🙂

[2020-04-30 12:51] sympmarc opened #168 "How Do Site Columns Become Managed Properties - Thus Available for Search?"
#### Article suggestion

From [this Twitter thread](https://twitter.com/darrel_miller/status/1255672761835556864) from Darrell Miller:

_If I create a site column based on a termset, will it create a managed property that can then be used by search so I can correlate search results to terms in my term store?_

If someone at Microsoft can be confused by this, it's very likely many other people are

[2020-04-30 13:32] sympmarc commented on #21
Done!

[2020-04-30 15:25] sparkitect opened #169 "Clarification on 3rd paragraph: Changes to Site Columns"
Certain changes to Site Columns DO in fact propagate to Lists and Libraries where they are being used.

When editing the settings of a Site Column, there is a "Update Lists" section of the form.
    [screenshot?]
The "Update all list columns based on this site column?" is "Yes" by default but can be changed to "No" before saving changes; this will prevent changes to the Site Column settings from b

[2020-04-30 15:51] sympmarc commented on #169
You are correct, Jim. Reading over that paragraph, I can't for the life of me remember what I was thinking. I've updated the article [Community/what-is-site-column.md](https://github.com/MicrosoftDocs/microsoft-365-community/blob/master/Community/what-is-site-column.md) in the master branch; it will go live soon.

[2020-04-30 15:51] #169 closed

[2020-05-06 12:56] sympmarc opened #171 "Basic Security Set Up for Microsoft 365"
#### Article suggestion

Many Microsoft 365 tenants are set up by non-technical folks these days, especially in small to medium sized businesses. The platform provides so much functionality, across so many different Admin Centers, etc., that is is incredibly overwhelming.

One of the primary concerns these folks have is how to ensure good security basics right off the bat. They don't really want t

[2020-05-06 13:46] helloitsliam commented on #171
Hey @sympmarc, I can take this one :-)

[2020-05-06 13:47] sympmarc commented on #171
Awesome! Can't wait to see what you come up with, @helloitsliam.

[2020-05-06 13:52] TracyVDSchyff commented on #171
Love this. Thank you @sympmarc , this is very needed!!!

[2020-05-06 14:42] sympmarc commented on #171
I know, right, @TracyVDSchyff? If there are things you're learning as part of solving your recent issues, please add them here so we can fold them in.

Now that you're here, do you have other ideas? If so, we'd love to have your expertise reflected in the repo! Feel free to grab an issue, contribute a blog post you've already written that may have larger appeal, add an article suggestion: whatever

[2020-05-06 17:31] helloitsliam commented on #171
@TracyVDSchyff  if you do have anything to share or things that you found as you go through the tenant, let me know. Will be putting together a list of items that should be looked at with starter configuration, so could help :-)

[2020-05-09 17:23] PatD opened #172 "That GCC Life - what to expect when you admin a GCC tenant"
#### Article suggestion

A primer for a new admin or owner of a GCC, GCC-H, or DOD tenant.  Highlight fundamental differences, how to check on feature availability, and where to find help/guidance/support.

Also touch on how to communicate this to customers - _"Feature X that everyone else has will be available in Q4 because xyz"_

Idea origin is Steve Brown's tweet: https://twitter.com/Steve_C_Br

[2020-05-11 09:36] Harshagracy opened #173 "Azure AD Groups Vs Office 365 Groups Vs SharePoint Groups"
#### Article suggestion

**Azure AD Groups Vs Office 365 Groups Vs SharePoint Groups**

Needed in a perspective of

- What is the benefit of each group
- Use case scenario for each group
- Difference between them
- When to use and not to use these groups?
 E.g. when I need SharePoint search results to return data based on user permission, Office 365 groups does return results, but azure AD securit

[2020-05-11 12:49] sympmarc commented on #173
This is a great idea, Harsha. Are you interested in writing something or should I try to find someone to do it?

[2020-05-11 18:09] Harshagracy commented on #173
Hi @sympmarc , Thanks for asking. I would love to, but honestly, I am still in the exploring stage for this area 😁. It would be better, if someone who has the practical knowledge could write this.

[2020-05-11 20:04] sympmarc commented on #173
Totally fine - it's just as important to identify the gap as it is to fill it!

[2020-05-12 03:35] pamgreen-msft commented on #173
Hi @Harshagracy , have you seen the article at https://docs.microsoft.com/microsoft-365/admin/create-groups/compare-groups? It may not cover Azure AD Groups as much as you're looking for but it gives a comparison of all the other types. @MikePlumleyMSFT Do you know if anything exisits already the meets Harsha's orginal need above?

[2020-05-12 03:47] pamgreen-msft commented on #171
It will be great to hear the insights of real world use on what always has to be tweaked or what are the common scenarios small businesses have. We do have some guidance for small businesses already that's not the TMI articles cited above (geez @sympmarc you found the gnarliest articles! As you're putting together your checklist @helloitsliam, it would be great to reference what's already been cov

[2020-05-12 12:36] MikePlumleyMSFT commented on #173
That's that article that we have that compares groups, though not SharePoint groups.

[2020-05-12 14:46] Harshagracy commented on #173
True... I agree.. But that article haven't covered the scenarios I mentioned like
When to use and not to use these groups?
Use case scenario for each group..

Infact I started with this article and created o365 group whereas I needed to create AD security group.

That's where I need help from you all. :)

[2020-05-12 16:48] ToddKlindt commented on #173
I'll grab this. I'll get something out there and you all can let me know what gaps I need to fill.

[2020-05-12 16:55] sympmarc commented on #173
Thanks, @ToddKlindt!

[2020-05-14 03:09] ewyss-sword opened #175 "Versioning on SharePoint 2019"
Versioning is enabled at creation on 2019 On premise document libraries (major versions up to 10)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6080b47a-816c-8bc8-94c0-506d040ae9bd
* Version Independent ID: c06f1880-827d-1d0b-c0fc-601432749411
* Content: [Versioning in SharePoint](https://docs.microsoft.com/en-us/micr

[2020-05-14 14:47] JimmyHang commented on #122
I'm chaning the article name, because I realized "Governance" is to big a topic for an article.. ;) Hopefully I'll have this done this week, ;)

[2020-05-14 16:11] PrasadKasireddy commented on #175
@ewyss-sword  - thanks for reporting typo, this is fixed with PR https://github.com/MicrosoftDocs/microsoft-365-community/pull/177, Team will merge soon

[2020-05-15 11:16] PrasadKasireddy commented on #171
it's a great idea, I found the interesting Microsoft article that Top 10 ways to secure Microsoft 365 for business plans.
https://docs.microsoft.com/en-us/microsoft-365/admin/security-and-compliance/secure-your-business-data?view=o365-worldwide#10-protect-against-phishing-attacks-with-atp-safe-links

[2020-05-17 19:14] PatD commented on #135
Hey Marc - Please assign to me.

[2020-05-18 12:49] sympmarc commented on #135
Thanks, @PatD. I had forgotten I added this one. :)

[2020-05-19 16:34] #175 closed

[2020-05-22 16:25] bigpix2000 commented on #171
I am marking my comment here for feedback on this as I am so very interested in the outcome here.  Looking forward to it!

[2020-05-22 22:17] helloitsliam commented on #171
Agreed @pamgreen-msft, makes sense to align with existing content as much as possible. :-)

[2020-05-23 18:16] PatD commented on #135
FYI, I'm about 80% complete on this one.

[2020-05-25 01:47] PatD commented on #135
PR submitted. Definitely looking for some technical review on this one - I'm on GCC, so my Modern experience is about six months behind the rest of the world.

[2020-05-27 20:51] #141 closed

[2020-05-29 00:35] bigpix2000 commented on #141
The presentation on the updated content went well at the M65 marathon ... hope to get good feedback for this article.

[2020-05-30 13:46] PatD opened #186 "Making a great SharePoint Default List/Library View"
#### Article suggestion

Maybe this falls into the purview of a 'site owner' - I think providing guidance on making a good default View in a list or library is pretty important.

I've seen some real trash default Views. And I _think_ bad view design leads to some of the common UX complaints about SharePoint in general.  Conversely, a very good view can really highlight the good user experience tha

[2020-05-30 15:05] sympmarc commented on #186
This is a great idea! In my experience, most Document Libraries have one view: All documents. And it shows - you guessed it: All documents.

*Good* views should provide just the right information for people to act or make a good decision. Making views "good" means you have more information about the objects in the list than just the Title and/or file name. Otherwise, you're just using SharePoint a

[2020-05-30 15:13] sympmarc opened #187 "Update and Modernize Sadie Van Buren's SharePoint Maturity Model"
#### Article suggestion

Sadie Van Buren's EXCELLENT work on the [SharePoint Maturity Model](https://www.uwebc.wisc.edu/IT/docs/2011-04-Presentation-SharePointMaturity-Burntsand.pdf) is an excellent source of ideas for articles for this repo. (There are other links to various iterations, but the original Web site is no more. The [Way Back Machine has it](https://web.archive.org/web/20170515104847/

[2020-05-31 10:41] sadalit commented on #187
@sympmarc let's do this!

[2020-06-01 17:03] nyoung30 commented on #64
Hi @veronicageek, I'm getting back to this one after a bit of hiatus. I'll post updates here.

[2020-06-01 17:05] veronicageek commented on #64
@nyoung30 - Sure, you can remove me from it then 👍

[2020-06-01 17:26] sympmarc commented on #64
Thanks, Norm!

[2020-06-03 21:58] mrowell opened #190 "SharePoint Online will let you manually create Indexes past 20,000 items"
This page currently states that it's important to take create indexes early as `SharePoint Online won't let you create on past 20,000 items`

The official documentation says that automatic index creation stops at 20,000 items, and implies you can continue to manually create indexes. I tested sucessfully on a document library with 50K items.

https://support.office.com/en-us/f1/topic/manage-large-l

[2020-06-03 22:06] sympmarc commented on #190
@mrowell Thanks for the correction - sometimes it's hard to keep up with the changes. Would you like to make an edit to the article, or should we take care of it? We'd love to add you to our contributor list!

@PatD

[2020-06-04 13:23] shivashyavi commented on #70
Still having the same issue. Were you able to resolve the issue Anoop?

[2020-06-08 14:50] #190 closed

[2020-06-13 01:16] sympmarc commented on #187
Introduction article ready to go:  [The Microsoft 365 Maturity Model - Introduction](https://github.com/MicrosoftDocs/microsoft-365-community/blob/master/Community/microsoft365-maturity-model—intro.md)

Thinking through expansion of the model with @sadalit and @eemancini. Happy to have help!

[2020-06-16 14:21] DeanGross opened #195 "CMMC as a reference"
[Enter feedback here]
The US Government recent release the Cybersecurity Maturity Model Certification (CMMC), see https://www.acq.osd.mil/cmmc/docs/CMMC_ModelMain_V1.02_20200318.pdf. Are you envisioning any type of integration with that model?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13d0b11f-eb27-dc86-2441-66b92

[2020-06-16 15:02] sympmarc commented on #195
Interesting. That's not a certification I've run across, as I don't really do government work. @sadalit, have you run into this one?

There are many of these maturity models out there now. If there is a benefit to folding concepts here into what we are doing, we're certainly game. @DeanGross - Are there specific ideas you would like to write about?

[2020-06-22 13:12] sympmarc opened #196 "Lifecycle of a Document"
### Article suggestion

Modern SharePoint coupled with Teams gives us new ways to think about the lifecycle of documents. An article that shows common document management scenarios would be of general interest.

Unfortunately, the fundamental architecture decision to use folders in Documents for Teams Files rather than something more sophisticated means that we can’t do rich metadata there. IMO, t

[2020-06-22 13:27] sympmarc commented on #196
Created a starting point in [Document Lifecycle Scenarios.](https://github.com/MicrosoftDocs/microsoft-365-community/blob/master/Community/document-lifecycle-scenarios.md). I'd love your ideas or input!

[2020-06-24 02:01] hwkwicre opened #197 "Incomplete?"
| To do this… | I need this permission… | |------------|------------------------| | View version history | Full Control, Contribute, Read | | Restore a previous version | Full Control, Contribute | | Delete a version | Full Control, Contribute | | Unpublish a version | Full Control, Contribute | | Recover deleted a deleted version | Full control and/or Contribute |

It seems this paragraph needs u

[2020-06-24 12:52] sympmarc commented on #197
@hwkwicre - Is there something specific you feel is incorrect?

[2020-06-24 13:27] PrasadKasireddy commented on #197
@sympmarc  - table format is incorrect , However, in own repojectory the table format is showing correctly

![image](https://user-images.githubusercontent.com/11626905/85564242-b7c27b80-b64b-11ea-8c59-b2d893a31bb8.png)

[2020-06-24 13:33] sympmarc commented on #197
Doh! I'm on it.

[2020-06-24 15:10] sympmarc commented on #197
Fixed! Thanks, @JoanneHendrickson.

[2020-06-24 15:10] #197 closed

[2020-06-26 15:18] hugoabernier opened #206 "Define Citizen Developer"
#### Article suggestion

In the Sharing Is Caring session today, @sympmarc mentioned that we should have a definition for "Citizen Developer".

And, as always, he's right.

Feel free to assign me to this.

Thanks for your contribution! Sharing is caring.

[2020-06-29 11:24] sinhakislay commented on #45
@sympmarc hey, is it already done or it can be assigned to me?

[2020-06-29 11:30] sinhakislay commented on #48
@sympmarc  do you mean retention during migration process? or how to deal with retention after migration? Just to understand before I throw my hat in the ring :)

[2020-06-29 12:01] #206 closed

[2020-06-29 12:02] #21 closed

[2020-06-29 12:06] sympmarc commented on #171
Also see #21 and the article submitted to cover it.

[2020-06-29 12:10] davidscott851 opened #209 "OST to PST Converter to transfer OST file to PST file"
Are you want to transfer your OST file into PST manually? Well here are three types of manual method can be easily resolve your problem but there are drawback of using these methods.

Manual method has very complex step and process which is very highly time consuming. In manual method, you should be a technical skilled person because it is fully technical method. So, to avoid these issue, you shou

[2020-06-29 12:19] sympmarc commented on #45
@sinhakislay, @ScottShearer hasn't gotten to it yet. I'll assign you as well, so the two of you can collaborate.

[2020-06-29 12:21] sympmarc commented on #48
I think both. Sort of the lifecycle of retention, if you will. I posted this idea when I ran into lots of issue during a migration. Basically, the cart before the horse. It would be great if you could take a pass at it!

[2020-06-29 12:22] sympmarc commented on #209
@davidscott851 - This isn't the place for advertising products.

[2020-06-29 12:22] #209 closed

[2020-06-29 14:22] sinhakislay commented on #45
Thanks @sympmarc , will get started soon
 @ScottShearer let me know if you have started already so that we don't work on same things.

[2020-06-29 14:23] sinhakislay commented on #48
@sympmarc  thanks, I will give a try, will let you know the progress

[2020-06-29 14:39] sympmarc commented on #48
Excellent! Let me know if you have any questions.

[2020-07-08 23:41] TheChaunz opened #220 "Access to on premises resources via a data gateway DOES NOT come with Office 365 Seeded"
Great content and it provides a solid amount of clarity that I find myself having to explain frequently. That being said - Under Seeded Power Apps, it states: "Access to on premises resources via a data gateway" which is true for Dynamics seeded, but (to my understanding) NOT Office 365 Seeded. Additionally, the bullet is clarified as only being included with D365 under the "Seeded Power Automate"

[2020-07-08 23:44] bigpix2000 commented on #220
We should make the change. Likely the older version of the license doc since corrected had it that way but confirming that the current doc is as you say. Easy to fix. Adding to the list to fix ASAP thanks for spotting it!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: TheChaunz <notifications@github.com>
Sent: Wednesday, July 8, 2020 6:42:12 PM
To: MicrosoftDocs

[2020-07-09 14:19] #220 closed

[2020-07-10 12:22] DeanGross commented on #195
@sympmarc I would like to write about security and compliance maturity, identity protection (AAD),  information protection (sensitivity labels), and threat protection (all of the ATPs and how they work together)

[2020-07-10 13:19] sympmarc commented on #195
That sounds great, @DeanGross. We're close to rolling out articles for some of the first competencies: Communication and Collaboration.

So far, the competencies are shaking out like this:
![image](https://user-images.githubusercontent.com/1295627/87158501-d6e91c00-c28d-11ea-899e-b05a41f077ac.png)

I *think* security and compliance fits into the Administration competency (the fact that I hesitate

[2020-07-10 14:20] helloitsliam commented on #195
Interesting topics to cover and relevant for Security and Compliance. Mapping it to something like the CMMC, would be much more complicated and honestly would be a smaller group that would get use from it, though I agree it would be interesting to write. Mapping the tooling such as Identity Protection, Information Protection and Threat Protection is needed. I think it should take the approach of w

[2020-07-10 14:31] helloitsliam commented on #172
That's a hard one @PatD. As I am sure you are aware, the magic list of feature parity, barely exists anywhere, however, like the idea of trying to figure this all out, and collate the correct locations for validating feature roadmaps etc. Biggest problem is access to GCC. GCC-H and DOD tenants for most people, to even validate. This would require input from those that have access to these tenants

[2020-07-10 14:40] helloitsliam opened #224 "Microsoft 365 Security Assessment Checklist"
#### Article suggestion

When configuring a Microsoft 365 tenant, many services and features are available. Most of the time, Azure AD Connect is setup to Sync users and groups, and then the end-users just get to it. Some security capabilities may get enabled, and some may not. However, what predominantly happens is once it 'goes live' no-one really validates that the Security Controls and Capabil

[2020-07-10 16:33] sympmarc commented on #195
@helloitsliam - There. You've given yourself another task: the WHY. :)

[2020-07-10 17:40] veronicageek commented on #195
@sympmarc @helloitsliam - The WHY from a specific security add-on could be explained and benefits proven, because you need to spend more money.
But hopefully, the WHY for general security like MFA, or locking down external sharing **doesn't**. Kind of a no brainer nowadays...

[2020-07-10 17:53] helloitsliam commented on #195
Agreed @veronicageek. The basic things should by now be a given, especially with MSFT providing Security Defaults as On for all new tenants. The thought would be to almost come up with common use cases, and then map those to specific security capabilities, to explain how you would meet use case A, B or C. Def agreed, we don't need more documents on WHY you should use MFA etc.......even though a lo

[2020-07-10 17:55] sympmarc commented on #195
<standing-back-and-enjoying-the-conversation/>

[2020-07-10 17:59] helloitsliam commented on #195
Kind of questions I am thinking of @veronicageek  and @sympmarc

How can we control when mobile devices can connect to Office 365 services?
What controls can we use to restrict mobile devices from connecting outside of approved locations?
Can I find and block sensitive information within my organization?
Can I automatically apply classification and security policies to content during authoring?
Ca

[2020-07-10 18:10] sympmarc commented on #195
Definitely. I like to use what I call my "Mom test". Would my Mom understand those questions? (She is VERY non-techie and knows I do this.) Or use that client we have, @helloitsliam: she doesn't know what the questions are to ask, much less what to do about them. I like the list above. A little wordsmithing:

How can we protect our content in the cloud?
How can we control when and which mobile dev

[2020-07-11 17:41] PatD commented on #186
@sympmarc - Please assign to me!

[2020-07-13 12:32] sympmarc commented on #186
Done! Looing forward to reading your work...

[2020-07-21 18:06] SDillon001 opened #234 "Site Mailbox is Deprecated But you Still List is as a Feature of a Team Site"
This article was written in May, 2020 but site mailboxes were deprecated in March of 2017. The docs are confusing enough, it would be great if the info was current and accurate. I just spent 10 minutes trying to setup a site mailbox I don't have.

[Important: The site mailbox feature in SharePoint is being deprecated beginning in March, 2017. This feature will be removed entirely in a future relea

[2020-07-21 18:13] sympmarc commented on #234
@SDillon001 - When you create a Team Site, it creates an underlying Microsoft 365 Group which has a shared mailbox. For example, if I create a Team Site named "foo", by default I'll have a mailbox with the address foo@myorg.onmicrosoft.com.

[2020-07-21 18:45] SDillon001 commented on #234
@sympmarc thanks, but that's still not a 'site mailbox' as described in the linked article, which is also a feature listed under the 'Site Comparison' in the Team Site vs. Communication site article.

[2020-07-21 19:52] sympmarc commented on #234
I know it's a subtle difference, but the article refers to a "shared mailbox", not a "site mailbox". Unfortunately, we suffer from Microsoft's naming changes over the years. Or am I missing something different?

[2020-07-30 17:52] PatD opened #238 "Document Sets are Magic 🗂"
#### Article suggestion

Document Sets - and their embrace by your users - are a true sign of SharePoint maturity in your organization.

This article would discuss their creation, changes to them in Modern, and the relationship between metadata in the set vs. the document.  Should provide some sample use cases, and guidance on when/when not to use them.

[2020-08-05 06:35] aaronrendell commented on #173
Hi @ToddKlindt, did you pick this up? I was going to submit an idea on this very topic, so would be happy to pickup or collaborate together?

[2020-08-05 06:41] aaronrendell commented on #67
@sympmarc  - I've been doing a lot of work around Intranets / Document management solutions - 'when to use what', and covered off example information architecture scenarios with my customers as part of the engagement (Home Sites, Hub Sites, etc.)

I would be happy to contribute to this; if you feel its still relevant.

[2020-08-05 06:46] aaronrendell opened #244 "Defining your Power Platform Environment Strategy"
Hi.

I've been asked many times about 'Power Platform' governance; "how do I manage my Power Platform environments?".

The default environment that comes 'out of the box' is only suitable for 'Personal Productivity Apps', and additional environments are needed to support departmental or organisation wide Apps and Flows - however its often missed.

[2020-08-05 06:48] aaronrendell opened #245 "Do you have a Power Platform DLP Strategy"
In my experience, Data Loss Prevention in Power Platform is new / unknown and not considered as part of a Power Platform deployment / enablement.

https://docs.microsoft.com/en-us/power-platform/admin/wp-data-loss-prevention#:~:text=DLP%20policies%20are%20created%20in%20the%20Power%20Platform,tenant%20admin%20or%20have%20the%20Environment%20Admin%20role.

I have some ideas how to summarise this an

[2020-08-05 06:52] aaronrendell opened #246 "Scenario outline - Power Apps vs Power Apps for Teams"
With the upcoming Dataflex for Teams, understanding when to use the 'Original' Power App creation method vs. the new Power App for Teams approach will be key. There are pros and cons across them, and plenty of 'Gotchas' to consider such as licencing, user access, connectivity and data sizing to consider.

Would be happy to put together an article providing some scenarios?

Think it would be a popu

[2020-08-05 06:57] aaronrendell commented on #14
@sympmarc - Is this still 'active'? I'm happy to look at pulling together a 'fact sheet' type article around the most common licencing scenarios.

I was actually going to suggest some 'scenarios' on power app/flow solutions with different features/back ends, to illustrate what licencing would be needed and for whom. - this would also be quite relevant with the news about Dataflex for Teams?

[2020-08-05 13:49] sympmarc commented on #67
@aaronrendell - Absolutely! If you'd like to take a crack at it, we'd love your contribution. Let us know if you need any assistance.

[2020-08-05 13:50] sympmarc commented on #245
@aaronrendell - thanks for all your comments today! Sounds like you are game to write something here, so I've assigned to you.

[2020-08-05 13:54] sympmarc commented on #14
A scenario-based article would be really helpful. I know almost everyone I talk to is confused by this, including me.

[2020-08-05 14:32] SergePoint opened #247 "Spelling issue"
In a few places in this article https://docs.microsoft.com/en-us/microsoft-365/community/auto-apply-retention-labels-in-office-365-using-content-types-and-metadata,  you mention: "site the retention label is published to had",  I guess you mean "add" and not "had" ?

[2020-08-05 15:40] sympmarc commented on #247
I think @joannecklein's sentences say what she meant, but I can see the confusion. I'll have her take a look.

[2020-08-05 20:58] aaronrendell commented on #14
NP. I'll take this on, as it was something I was planning on covering in a personal blog.

It would be worth covering Power Apps in this too, as they go hand in hand.

[2020-08-05 21:48] joannecklein commented on #247
Hi @SergePoint - Thank you for pointing this out. The intention of those sentences was to say that within a week the retention labels would be applied based on the conditions specified on any sites the retention label had been published to. I've re-worded the sentences and hopefully they read clearer.

[2020-08-05 22:53] chakkaradeep commented on #14
I will be working on this in the context of [Migrating classic workflows to Power Automate](https://docs.microsoft.com/en-us/sharepoint/dev/business-apps/power-automate/guidance/migrate-from-classic-workflows-to-power-automate-flows) next week (when I am back from vacation).

[2020-08-06 08:00] aaronrendell commented on #14
@chakkaradeep sounds great. Would it make sense to split this into two articles? One being 'Migrating from classic SharePoint Designer Workflows to Power Automate' and a 'Scenario' based article on Power App and Power Automate deployments and the licencing implications on those different scenarios, taking into account seeded licencing and premium licencing?

[2020-08-06 12:37] sympmarc commented on #14
@chakkaradeep - your article above is definitely proving useful to folks. Looking forward to your updates.

I'll leave it to the two of you to decide if an article here would be useful. I think scenarios would help make things more "real".

[2020-08-08 06:44] aaronrendell commented on #244
I'll take this @sympmarc .I have a draft to submit. This would be a nice article to push before the Power Platform DLP one, that I'm drafting; follows on nicely.

[2020-08-08 06:54] aaronrendell commented on #196
When I speak to customer I normally frame the concept of 'structured' vs. 'Unstructured data'.

Structured being those formal Document Management sites which may use Content Types, Managed Meta-Data, Labels, Flows etc.

Unstructured being OneDrive and Teams; day to day document collaboration, focusing on co-authoring and typically accessed through OneDrive Sync client.

There is a slide from MSFT

[2020-08-10 15:46] aaronrendell commented on #244
@sympmarc  - hi Marc, how do I add an image to an article? Upload to a folder and then include reference to the relative path in the doc?

[2020-08-10 16:00] sympmarc commented on #244
That's correct. If you look in the repo here, you'll see a media directory at Community/media. Each article with images has a folder there named the same as the article, and the image are stored in that folder. Take a look at @eemancini's latest article as an example: [The Evolution of Company-wide Email Communication to SharePoint News](https://github.com/MicrosoftDocs/microsoft-365-community/blo

[2020-08-10 20:45] #247 closed

[2020-08-11 13:10] sympmarc commented on #196
In this article, I was thinking more about the way a document goes from a germ of an idea to some thing that has lasting value. **Sometimes** documents encapsulate a lifecycle like that, but it can also happen outside of documents altogether.

In other words, while we may use different technologies along the way, I wanted to focus on the state of the document just as much.

I should just finish th

[2020-08-13 13:53] eemancini commented on #151
Happy to jump in on this one, @sympmarc!

[2020-08-14 16:37] #74 closed

[2020-08-17 18:58] sympmarc opened #265 "Add Definitions to Glossary"
We've got several articles which mention terms without glossary entries. I've added entries today, but without definitions.

* Data Loss Prevention (DLP)
* Azure Information Protection (AIP)
* Application Lifecycle Management (ALM)
* Power Platform Data Loss Prevention

@aaronrendell @joannecklein

[2020-08-17 19:02] sympmarc commented on #265
Also:
* Azure Information Protection (AIP)
* Application Lifecycle Management (ALM)

[2020-08-18 02:28] #75 closed

[2020-08-18 02:28] #244 closed

[2020-08-18 02:29] #171 closed

[2020-08-18 02:30] #186 closed

[2020-08-18 19:56] sympmarc opened #267 "Comments on on Versioning Best Practices"
In the docs UI, there's an option to give a thumbs up or down and add a comment. Unfortunately, that content isn't available anywhere except through some @JoanneHendrickson hocus-pocus.

Here are the comments on on [Versioning Best Practices](https://github.com/MicrosoftDocs/microsoft-365-community/blob/master/Community/versioning-basics-best-practices.md):

@PatD

[2020-08-18 19:59] sympmarc opened #268 "Comments on Changing Microsoft Teams from Private to Public, what to expect in SharePoint?"
In the docs UI, there's an option to give a thumbs up or down and add a comment. Unfortunately, that content isn't available anywhere except through some @JoanneHendrickson hocus-pocus.
 
Here are the comments on on [Changing Microsoft Teams from Private to Public, what to expect in SharePoint?](https://github.com/MicrosoftDocs/microsoft-365-community/blob/master/Community/changing-microsoft-teams

[2020-08-18 20:01] sympmarc opened #269 "Comments on Living Large with Large Lists and Large Libraries"
In the docs UI, there's an option to give a thumbs up or down and add a comment. Unfortunately, that content isn't available anywhere except through some @JoanneHendrickson hocus-pocus.

Here are the comments on [Living Large with Large Lists and Large Libraries](https://github.com/MicrosoftDocs/microsoft-365-community/blob/master/Community/large-lists-large-libraries-in-SharePoint.md):

@PatD

[2020-08-18 20:03] sympmarc opened #270 "Comments on Should I store my files in Microsoft Teams or in SharePoint? An understanding of behind the scenes"
In the docs UI, there's an option to give a thumbs up or down and add a comment. Unfortunately, that content isn't available anywhere except through some @JoanneHendrickson hocus-pocus.

Here are the comments on [Should I store my files in Microsoft Teams or in SharePoint? An understanding of behind the scenes](https://github.com/MicrosoftDocs/microsoft-365-community/blob/master/Community/should-I

[2020-08-18 20:05] sympmarc opened #271 "Comments on Using Site Designs to Manage Project Life Cycles"
In the docs UI, there's an option to give a thumbs up or down and add a comment. Unfortunately, that content isn't available anywhere except through some @JoanneHendrickson hocus-pocus.

Here are the comments on [Using Site Designs to Manage Project Life Cycles](https://github.com/MicrosoftDocs/microsoft-365-community/blob/master/Community/site-design-life-cycle.md):

[2020-08-19 13:30] sympmarc opened #279 "Reversion to CDS"
#### Article issue

This article referenced the Dataflex branding and had to be changed quickly. Thanks, @JoanneHendrickson for taking care of it!

[Defining a Power Platform Environment Strategy](https://docs.microsoft.com/en-us/microsoft-365/community/defining-a-power-platform-environment-strategy)

@aaronrendell - This is your article. Can you please review the changes and make sure all looks g

[2020-08-20 11:44] pkbullock opened #281 "Deadlinks/404s in articles"
#### Article issue

Article - Designing for Scale contains links to other articles that no longer work.

Please assign, ill review.

[2020-08-20 13:11] sympmarc commented on #281
Good catch, and thanks for taking on the fix.

[2020-08-20 13:59] #281 closed

[2020-08-21 15:15] pkbullock opened #285 "Power Automate vs Logic Apps"
#### Article suggestion

- What they are?
- Highlight key differences between logic apps and power automate
- Use cases for choosing an approach

@sympmarc could you assign to me please? :-)

[2020-08-24 21:16] eemancini opened #290 "Microsoft Learning Pathways Use Cases"
#### Article suggestion

Sharing examples and scenarios for how M365 Learning Pathways can be used (business process documentation, in-context learning, new site owner training, new client support. etc)

[2020-08-24 21:16] eemancini commented on #290
I'd be happy to take this one :)

[2020-08-31 15:21] jerryyasir opened #296 "Community Docs Sample - jerryyasir"
#### Article suggestion
It would be nice to add something about the **Sharing is Caring** initiative

[2020-08-31 15:22] #296 closed

[2020-09-01 11:44] LuiseFreese opened #297 "Provide guidance how to document PowerPlatform solutions adressing makers"
#### Article suggestion

I would love to see and contribute to an article that guides Citizen Developers/makers working on low-code solutions in Power Platform how to document correctly. As Citizen Developers mostly don't have formal, institutionalized, or a standardized curriculum following education, they don't know how to document, not for themselves, nor for others.

The guidance that exists i

[2020-09-01 11:48] PopWarner commented on #297
@sympmarc, If it's ok, @hugoabernier and I would love to be assigned to this with @LuiseFreese and collaborate with her to meet her request. 🤗💜🧡

[2020-09-01 13:15] sympmarc commented on #297
Awesome idea, and I'm looking forward to what you come up with!

[2020-09-01 21:58] LuiseFreese opened #298 "SharePoint and Office Groups update"
#### Article issue

https://github.com/MicrosoftDocs/microsoft-365-community/blob/live/Community/glossary.md#g

1. In the Section SharePoint groups, it says "library or library" which should most probably be "list or library"
2. In the section Office groups it still has Office 365 groups although they were renamed in April 2020, details: https://techcommunity.microsoft.com/t5/microsoft-365-blog/of

[2020-09-01 22:02] sympmarc commented on #298
Go for it, @LuiseFreese! It's the joy of open source!

[2020-09-01 23:53] #298 closed

[2020-09-02 00:16] LuiseFreese commented on #122
Happy to help here, I know some a sweet solution how to low code provision Teams AND ensure digital literacy of owners at the same time. Don't want to "steal" this from @JimmyHang, but I am here if needed. What do you think @sympmarc?

[2020-09-02 00:22] sympmarc commented on #122
Well, @JimmyHang hasn't been able to finish this, so have at it. If Jimmy still has input, you two can collaborate on it.

[2020-09-02 00:25] LuiseFreese commented on #122
perfect! On it :-)

@JimmyHang If you like to work with me on that: highly appreciated, but no pressure at all.

[2020-09-02 05:44] JimmyHang commented on #122
Hi @LuiseFreese help will be great, I've already got some text and code just havent had the time to finnish, not sure how to best share this with you, I'll DM you my contact info, 😁

[2020-09-02 12:52] sympmarc commented on #122
You can certainly use the repo as a staging area. Either point @LuiseFreese to your fork or do a PR into `master` here. Nothing is visible in `live` until I add it to the TOC and index.md.

[2020-09-02 13:24] LuiseFreese commented on #122
Hi,

I didn't know **sorry** where to write this, so I just used my best markdown knowledge 🙄 and put it here. Please tell me what you think @sympmarc and @JimmyHang. Jimmy, I started a chat with you in Teams, you cal also reach me here and on twitter.

__________________
__________________

This article shall shed a light on two aspects of Modern Workplace:

Teams Provisioning using a low-code so

[2020-09-02 16:14] #122 closed

[2020-09-03 00:38] #265 closed

[2020-09-03 12:36] Gennady-G opened #307 "Are 'Audiences' really enabled for News webpart?.."
Greetings!

In this [article ](https://docs.microsoft.com/en-us/microsoft-365/community/evolution-of-company-wide-email-communication-to-sharepoint-news) You say that we "can enable audience targeting on the news web part to target your messages to the right people."
But if I change this switch I don't see any People Pickers:
![audience-2020-09-03_162945](https://user-images.githubusercontent.com/

[2020-09-03 15:46] veronicageek commented on #285
@pkbullock - Can't wait about this one. Hurry up! 😇

[2020-09-03 15:50] pkbullock commented on #285
Lol- will start this one soon, I'm like a snail stuck on chewing gum 😂

[2020-09-11 15:00] corecodes opened #314 "Missing 'provision bot' gif image"
#### Article issue

Article Title: Should everyone create Teams? A Low Code Provisioning solution

Link: https://docs.microsoft.com/en-us/microsoft-365/community/should-everyone-create-teams#publish-our-bot--add-it-as-an-app-in-teams

In the 'Publish our Bot & add it as an App in Teams' section, the 'provision bot' gif image resource cannot be resolved.
The relative path used is 'media/should-ever

[2020-09-11 15:11] sympmarc commented on #314
Thanks for the heads up! We've been having some issues with GIFs - we'll get this sorted out.

cc: @LuiseFreese

[2020-09-11 16:50] sympmarc opened #315 "Power Platform Licensing Article Changes"
#### Article issue

After some discussion with my Microsoft counterparts, we'd like to slim down the article to remove the costs and limits and replace those sections with links to the official Power Platform documentation. While one of the goals of this article is to make the licensing more understandable, we won't be able to stay up to date with any changes in the details reliably.

By doing thi

[2020-09-11 16:57] bigpix2000 commented on #315
Thank you. I originally want to use links instead of direct displays of tables with the limits and costs but the main source appears to be the PDF and no good way to link to them. Can we ask Microsoft to put that into into linkable doc form then we can definitely work out a more spartan (and focused) version of the article.

Get Outlook for iOS<https://aka.ms/o0ukef>
______________________________

[2020-09-11 17:01] sympmarc commented on #315
Great point! Let me look into that.

[2020-09-11 23:15] PatD opened #316 "SharePoint 2019 - Classic and Modern together"
#### Article suggestion

SharePoint site owners who upgrade from 2013/2016 to 2019 will discover two fundamentally different user interfaces (and user experiences) as Classic remains, and a snapshot of Modern becomes available.  With some forethought and planning, this 2019 upgrade can be a stepping stone to getting your users comfortable with Modern, as Classic is destined to be retired in some f

[2020-09-12 20:40] PatD commented on #238
I want to take this one, but lack clarity on whether Document Sets have a future in Modern. In my GCC tenant, it's sorta half-Classic, half-Modern. Nothing on the Road Map.  Anyone have any info about their future?

[2020-09-14 13:58] veronicageek commented on #270
@PatD - Whenever I do Teams training to customers, I always show them the relationship with SPO. Most of them are oblivious to the reality and only know Teams. I feel like clarity **needs** to be made. But then, they see you as "too technical".... 🤷🏻‍♀️  #sad

[2020-09-14 21:31] sympmarc commented on #238
It's a fair question. Doc Sets have been partially modernized - which to me is not enough at all. In fact,. we lost some of the main benefits, like customizing the Welcome Page.

Let me see what I can find out - I love the things.

[2020-09-15 14:40] eemancini commented on #307
Hello @Gennady-G,

Wonder Laura has a great overview for how to do this. It looks like you enabled on the web part but you need to enable in the Site Pages library and tag the pages to the audiences: https://wonderlaura.com/2019/12/19/sharepoint-audience-targeting-its-back/#:~:text=%20Here%E2%80%99s%20how%20to%20start%20setting%20it%20up%3A,Enable%20audience%20targeting%2C%20and%20click%20OK.%20Mo

[2020-09-15 19:56] sympmarc commented on #314
Fixed!

[2020-09-15 19:56] #314 closed

[2020-09-16 08:19] LuiseFreese opened #320 "Project Moca aka Outlook Spaces - yet another tool?"
#### Article suggestion

As Project Moca/Outlook Spaces is in preview, I would like to see and contribute to an article that provides some guidance about it. Which use cases does it serve, how does it integrate with other tools and services across Microsoft 365. I see a lot of people already forming their opinion in a direction of 'well, this is yet another tool' and will probably confuse a lot of

[2020-09-16 12:56] sympmarc commented on #320
I haven't heard about this one. Is it firm enough to write something or is it still "in the lab"?

[2020-09-16 13:29] LuiseFreese commented on #320
it's now officially in preview, a few months ago, MSFT accidentally leaked something, but then you didn't hear anything back from it... for reference: [Project Moca on Tech Community](https://techcommunity.microsoft.com/t5/outlook-blog/organize-content-your-way-with-the-preview-of-project-moca/ba-p/1620329).

My article is about use cases and how Outlook Spaces integrates or correlates with other

[2020-09-16 14:45] LuiseFreese commented on #320
Uh-oh. Seems as if something went wrong 🥺🥺

[2020-09-16 15:27] eemancini commented on #224
@sympmarc, is this resolved by https://docs.microsoft.com/en-us/microsoft-365/community/basic-security-set-up-for-microsoft-365?

[2020-09-16 15:57] sympmarc commented on #224
Thanks for the article, @helloitsliam - closing this issue.

[2020-09-16 15:57] #224 closed

[2020-09-16 16:13] #320 closed

[2020-09-16 19:06] sympmarc commented on #320
Some of those errors (the ones on article-template.md) were my fault. There were a few for your article, but I've fixed them. Will read it later today...

[2020-09-18 22:18] danielglenn opened #325 "Survey to employees on their wants/needs/current intranet dislikes/likes"
#### Article suggestion
Based on project experience and a recent question on Twitter by Joanne Klein, https://twitter.com/JoanneCKlein/status/1306756365696737280?s=20, we would like an article discussing the best practices on getting user feedback for an intranet replacement/rollout project.

#### Submission Guidelines

There are many suggestions, where we will give credit of course, but I believe

[2020-09-20 22:05] PatD commented on #238
Consider me assigned! Will turn out a first draft in the next few weeks.

[2020-09-21 14:03] sympmarc commented on #238
I asked in my MVP channels, but it's pre-Ignite, when all the MS folks are under the gun, so no useful replies. Looking forward to what you come up with!

[2020-09-21 17:50] LuiseFreese commented on #320
anything I could clarify, @sympmarc ?

[2020-09-22 15:16] Gennady-G commented on #307
@eemancini , aah, Ok! Thank You much, now I understand. So it works only with New SharePoint Groups, and every page has its own additional setting stored in 'Audience' column... It makes sense.

Best regards, Gennady

[2020-09-22 15:16] #307 closed

[2020-09-23 18:46] JimmyHang opened #326 "Power Automate: Send SharePoint Files as Attachments"
#### Article suggestion

Been working on a special scenario where I need to send a bunch of files in SharePoint as attachments in email.
This will be a how-to article to achieve this.

Happy for this to be asigned to me @sympmarc

Cheers

[2020-09-23 23:56] sympmarc commented on #320
Went live tonight. Sorry for the delay!

[2020-09-24 13:08] JimmyHang commented on #326
Done, pull request submitted.. ;)

[2020-09-24 13:19] sympmarc commented on #326
But you didn't fill out the PR template! Bad Jimmy. :-)

Thanks, and I'll take a read today, if I can.

[2020-09-24 13:20] sympmarc commented on #326
Actually, could you fix the alternate text on the image links? It's always harder for me to do it, since I'm not sure what they should be.

[2020-09-24 13:20] JimmyHang commented on #326
Ouch, forgot about that one, I blame #MSIgnite, to much news..😁

[2020-09-24 13:23] JimmyHang commented on #326
on it.. I'll submit a new PR

[2020-09-24 13:47] JimmyHang commented on #326
Ouch, think I accidentally pushed changes to the PR template file also, can you ignore that change when you merge @sympmarc?

[2020-09-24 16:00] sympmarc commented on #326
Checking it now!

[2020-09-28 19:34] briangre opened #342 "Confusing bullets in Flow licensing regarding CDS"
Under the flow licensing you will see this set of bullets:

- CDS included with Power Apps license
- 50 MB CDS DB Capacity per user when separate from Power Apps
- 200 MB CDS File Capacity per user when separate from Power Apps)

We need to clarify that first bullet. I am thinking the intention is that if you have a Power Apps license, that you get no additional CDS capacity with the flow license

[2020-09-28 20:46] sympmarc commented on #342
@bigpix2000 - Is this something you can help with?

[2020-09-29 13:40] bigpix2000 commented on #342
I definitely can and nothing that this Dataflex Oakdale stuff has made CDS questions perhaps the most asked Licensing question making the rounds.  This note also shows why it would have been a good idea to link to the Microsoft piece on this rathe than recreating tables with footnotes in MD form.  I agree it could be rewords to be cleared but I have to think about how to do that without making it

[2020-09-29 13:43] briangre commented on #342
Thanks all! Looking forward to the updates.

[2020-09-29 14:08] bigpix2000 commented on #342
Looking at the bullets, we are probably not going to wait for Oakdale (Baby Skynet?  certainly not as cute as Baby Yoda) get a name   and we will be adding the unattended RPA with Flow added recently as well.

[2020-10-08 14:25] LuiseFreese commented on #342
happy to help here - feeling qualified after my QnA Licensing session :-)  - is this ok for you, @sympmarc ?

[2020-10-08 17:17] bigpix2000 commented on #142
Checking @sympmarc if this is still open for the overall update or if the original problem was fixed (perhaps I neglected to include the issue when I did that work back then?)

[2020-10-08 17:27] bigpix2000 commented on #315
Back to this issue as we will address the bullet item bug #342 along with this change.  Here is what it will look like:

- Updated intro section into what I came up with as the "half page summary" (tested with Ryan Cunninghman
  {https://twitter.com/rc_says}   Prod Mgr power platform as to validity) then a list of the key licensing levers (capacity related items, specific services, specific bundle

[2020-10-08 18:00] LuiseFreese commented on #315
few thoughts: Hosted this QnA Licensing session and really got some good insights - working right now on a summarizing blog post with some key-take aways. Would love to point out my maker perspective on Power Platform and why this is not some "nice to have" thingy at the end of M365 adoption road.

[2020-10-08 19:07] bigpix2000 commented on #315
@LuiseFreese , the perspective you mention is EXACTLY the spirit of the document and also a reason why every effort to "optimize" the information is in order.  On that note, let me repost the "proposed" sections for where the information we have now will find new homes (or be removed because it is superfluous because of a link, etc.)

- Overview: why this doc, who is it for, how to use this doc
-

[2020-10-09 15:31] sympmarc commented on #315
Good to see the discussion here. I'm fairly ignorant about the details of all this, so I leave it in your capable hands!

[2020-10-13 16:47] edcuzz opened #353 "It there a way to get around having two Single Line of Text columns for the same data?"
Thanks for this article. It is very helpful. I am curious if there is a way to get around having the Region duplicated as two Single Line of Text fields. One in Country and one in Region that contain the same data. Is it possible to use region as the source for the Region and have that reflected in country?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-10-18 20:38] LuiseFreese opened #354 "M365 Bootcamp for makers"
#### Article suggestion

I attended Global M365 Dev bootcamp - now blogging about this experience (it was awesome and totally doable, even if you are not very dev-y) to make some noise about it, as recording of the labs is available as well. As this could get more people into contributing and using M365 and Graph Toolkit /SharePoint/ Teams... would you think that it would fit into community docs?

[2020-10-18 21:49] sympmarc commented on #353
@edcuzz - I would use Lookup columns to relate the lists, like so:

### Country
- Title - Name of the country

### Region
- Title - Name of the Region
- Country - Lookup column to Country/Title

@yllemo

[2020-10-19 18:35] LuiseFreese commented on #315
hi there @bigpix2000 - let's work on that and see how it goes. I would like to write overview and happy to rewrite  the core licensing thing. I think the way I explained it in my blog post here is pretty much that? [my blogpost about PP licensing QnA](https://m365princess.com/power-platform-licensing-qna-key-take-aways/)  -

I agree that PDF are usually a way to hide information..

guidance should

[2020-10-20 16:06] bigpix2000 commented on #315
So ..... for authoring, technically you can author in place and we can go back and forth on it like a project but you may also use this space for the content to be reviewed as the same MD tools work here as well.  The overview re-write is a good place to start. As for the core licensing pieces, your blog does cover the discussion and can be used as the model for the "Core" section.  Because of the

[2020-10-20 18:25] sympmarc commented on #354
Sorry for the delayed reply! This is great stuff, but I think it's a little to specific for this repo. If you'd be interested in abstracting it somehow to it remains timely (even in there are no longer bootcamps, for example, or the labs are no longer relevant), I think it could be really helpful to people.

It feel like some of your higher-level messages are things people should definitely hear (

[2020-10-20 18:30] LuiseFreese commented on #354
It does! Let me change to birds view for that!

[2020-10-20 21:54] JimmyHang commented on #168
Hi @sympmarc, happy to be assigned this one as I'm actually using this in a couple of project couple with the awesome PnP Search Webparts here: https://microsoft-search.github.io/pnp-modern-search/

[2020-10-20 22:07] sympmarc commented on #168
Thanks, @JimmyHang! I love those Web Parts. We use them in pretty much every project.

[2020-10-22 13:23] mikezimm opened #356 "This page may need updating to include Syntax references."
[Enter feedback here]
This page may need updating for Syntax

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 774d5574-4307-5a2d-5fde-020f7d4c0c40
* Version Independent ID: ae77d33a-e9c4-80d9-03f7-e93d1df26181
* Content: [Can Machine Learning be used to assign managed metadata attributes for items?](https://docs.microsof

[2020-10-26 12:11] LuiseFreese commented on #315
ok, as I wanted to start SOMEWHERE, I did this:

Please feel free to correct, add, elaborate.

# Power Platform Licensing

## Overview

This article shall give you a  detailed and easy to understand overview about licensing/pricing regarding Power Platform.

Power Platform consist of Power Apps, Power Automate, Power BI and Power Virtual Agents and has Portals and AI Builder as add-ons.

## Core l

[2020-10-26 12:41] LuiseFreese commented on #354
will need a couple of days more... carzy times.

[2020-10-27 07:24] heysmil opened #357 "How to Create a Channel on Instagram IGTV"
This is a very simple process, and you will be able to start your IGTV channel in just a few simple steps. Just follow these ones here and soon you will have an IGTV channel of your own. but whenever you face any issue with this then you can go to **_[Instagram Contact](https://belgieitworld.site123.me/blog/hoe-maak-je-een-kanaal-op-instagram-igtv)_**, they are available 24/7.

[2020-10-27 07:27] heysmil opened #358 "How To Fix Google Play Store Error DF-DFERH-01"
Error code DF-DFERH-01 is one of those common errors that appeared when you’re trying to update applications from the play store. The error mostly reported when users are trying to download or update popular applications like Whatsapp, Facebook, Tik Tok, etc. If you’ve seen this error message “Error while retrieving information from server DFDFERH-01” in your mobile phone screen then follow us to

[2020-10-27 13:05] #357 closed

[2020-10-27 13:06] #358 closed

[2020-10-28 16:29] LuiseFreese opened #360 "How to deploy Microsoft Teams App templates"
I would like to write an article about how to use the Microsoft App templates which you can find [here ](https://docs.microsoft.com/en-us/microsoftteams/platform/samples/app-templates#associate-insights-app).

As an example, I chose [Group Activities Bot](https://docs.microsoft.com/en-us/microsoftteams/platform/samples/app-templates#group-activities), I already made a [Twitter Thread](https://twit

[2020-10-30 18:16] #326 closed

[2020-11-01 20:34] JimmyHang commented on #168
Hi @sympmarc, PR for this article is submitted, I did use the template this time, ;)

Cheers

[2020-11-04 18:11] sympmarc opened #363 "How to Run a Community Event"
### Article suggestion

One of the strengths of the community is the events we all run. It would be great to have an article or three covering how to do this well: checklists, things to watch out for, how to tackle the thornier bits, etc.

This was suggested by @mikegil4 in our recent [AskSympraxis](https://sympraxisconsulting.com/portfolio/ask-sympraxis/) call: Putting the Unity in Community – A

[2020-11-05 18:58] ismaen opened #364 "Seeded Power Automate licensing Question"
Hello,

Under the Power Automate > Seeded Power Automate section, there is a line item that states "Standard and Premium connectors included only when in context of Office 365 or Dynamics." I had a customer ask me about this, and to my knowledge this isn't necessarily true. Premium connectors ultimately require a per flow/per user plan and regardless of the context it is in, are not included. Can

[2020-11-05 19:49] sympmarc commented on #364
@bigpix2000 - Can you answer this one?

[2020-11-05 21:19] bigpix2000 commented on #364
@sympmarc  - yes I can.  @ismaen:  This one piece tripped me up early when I created the first draft of this document and the core concept is if you are using a connector to something specifically talking to something in Office 365 (SharePoint) or something in Dynamics, you should not have to pay extra for it because the Office or Dynamics license includes it. What does trip us up is mixing in CDS

[2020-11-06 16:56] ismaen commented on #364
@bigpix2000 thank you for the response, this was really helpful!

[2020-11-06 16:56] #364 closed

[2020-11-06 17:15] bigpix2000 commented on #364
@ismaen and @sympmarc Glas I was able to help .... Community prevails again :-)

[2020-11-09 00:13] nicolasrivollet opened #365 "Clear cascading Combo Boxes ?"
Hello everyone,
I have recently discovered Power Apps and I am really excited about the possibilities it offers!

I have followed the instructions from this tutorial : [Working with Cascading Lists in SharePoint and Power Apps](https://docs.microsoft.com/en-us/microsoft-365/community/working-with-cascading-lists-in-sharepoint-and-powerapps)

And now I have 2 beautiful combo boxes, one where the us

[2020-11-10 14:34] sympmarc commented on #168
Sorry for the delay in getting this published, @JimmyHang. Working on it now and will get it out there later today...

[2020-11-10 14:39] JimmyHang commented on #168
No problem @sympmarc, don't worry about it. 😁👍

[2020-11-10 16:00] kevintaber opened #366 "Permissions"
Should you want to limit a user/group from editing within a Teams created SharePoint site, can you still do so within SharePoint and not have Teams overwrite the manually adjusted permission?

Example:

General channel has a group of staff that we don't want to make changes to the files/folders.

Just break inheritance and add a security group and adjust the permissions to read-only?

---
#### Doc

[2020-11-13 17:42] sympmarc commented on #356
@mikezimm - The original author of this article seems to have moved on. If you have any specific suggestions, we'd love to incorporate them!

[2020-11-13 17:42] #353 closed

[2020-11-13 17:45] sympmarc commented on #142
Covered by the [Community/powerplatformlicensingforcitizendeveloper.md](https://github.com/MicrosoftDocs/microsoft-365-community/blob/master/Community/powerplatformlicensingforcitizendeveloper.md) article. Thanks, @bigpix2000!

[2020-12-07 13:12] devbenjamin opened #384 "I see no "Actions" menu"
I see no "Actions" menu. I am trying to access the SharePoint list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6080b47a-816c-8bc8-94c0-506d040ae9bd
* Version Independent ID: c06f1880-827d-1d0b-c0fc-601432749411
* Content: [Versioning in SharePoint](https://docs.microsoft.com/en-us/microsoft-365/community/versioning

[2020-12-11 20:24] bigpix2000 opened #385 "Adding Governance Competency to the Maturity Doc"
#### Article suggestion

On https://github.com/MicrosoftDocs/microsoft-365-community/blob/live/Community/microsoft365-maturity-model--intro.md  I would like to recommend a "Governance competency" unless folks feel it falls under (or is already covered!) in one of the other sections.  Within Governance would be the Licensing Competency as in "not afraid of the licensing" as was put in a SIG discuss

[2020-12-14 23:11] PatD opened #388 "Highlight the Highlighted Content Web Part as the modern CQWP"
#### Article suggestion

I had been _bitter_ about the lack of Content Query Web Part in Modern, until I was introduced to the Highlighted Content Web Part. The Highlighted Content Web Part - paired with custom queries/KQL - is powerful stuff.

This article should:

- Describe what the Highlighted Content Web Part is
- Basics on using it
- Basics on Scope (Library/Site/Collection/etc)
- ...and a d

[2020-12-15 15:48] eemancini commented on #385
Hello Ralph,

Great question! We started by trying to embed them in each competency (ex: Communication- https://docs.microsoft.com/en-us/microsoft-365/community/microsoft365-maturity-model--communication). Our focus was to first see if it can be covered within each competency with the intention to revisit once all are done as we might need a standalone governance competency like you are suggesting

[2020-12-15 15:51] SimonJHudson commented on #385
It's a great point Ralph
Governance is one of those things that appears as both a top down and bottom up. We debated having it as a competency in its own right, took the decision to try and embed it as characteristics in many of the competencies but have as something we might come back to as a standalone competency too. The same is somewhat true of security.

We would be very interested in what yo

[2020-12-17 21:34] sympmarc commented on #388
If you like the Highlighted Content Web Part, you'll _love_ the [PnP Modern Search Web Parts](https://microsoft-search.github.io/pnp-modern-search/)!

I'm guessing there are articles out there which cover the HCWP fairly well, but I'm not sure to what depth. Maybe @tomresing or @pamgreen-msft could point us to some of that content. That said, how to thread the needle with the existing search-based

[2020-12-18 19:21] PatD commented on #388
Please assign to me, happy to write it up.  If @tomresing or @pamgreen-msft have some resources to start with, please share here!

[2020-12-21 18:09] DeanGross opened #391 "Licensing Information"
I noticed that the licensing section does not mention Business Premium. I think that this should be added.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: decdefc9-3082-1350-520c-ce226be74a6e
* Version Independent ID: 6457d5c9-87b0-bd1d-0a8e-7e5d9326851b
* Content: [Basic Security Set Up for Microsoft 365](https://docs.m

[2020-12-21 18:56] DeanGross opened #392 "Password Expriration"
It would be helpful to add a link to this documentation also https://docs.microsoft.com/en-us/microsoft-365/admin/manage/set-password-expiration-policy?view=o365-worldwide

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: decdefc9-3082-1350-520c-ce226be74a6e
* Version Independent ID: 6457d5c9-87b0-bd1d-0a8e-7e5d9326851b
*

[2020-12-21 20:41] sympmarc commented on #392
@DeanGross - We welcome pull requests from smart people like you!

@helloitsliam- Want to check on this?

[2020-12-21 20:41] sympmarc commented on #391
@DeanGross - We welcome pull requests from smart people like you!

@helloitsliam- Want to check on this?

[2020-12-21 20:45] helloitsliam commented on #391
What specifics do you mean? The only license piece really covers this "With all of the Microsoft 365 services, many-core security components come with the standard licensing. Features, such as the Security Defaults, are included in core licenses; however, most advanced Security capabilities are not. These features are either available as separate add-on licenses or bundled into the either the Ente

[2020-12-23 13:36] DeanGross commented on #391
@helloitsliam yes that is what I meant

[2021-01-17 16:20] LuiseFreese opened #395 "Why Microsoft 365 adoption projects fail"
I would like to write an article why so many Microsoft 365 adoption projects fail. They focus on the WHAT and perhaps on the HOW of Microsoft 365 benefits rather than investigating corporate culture which is reflected in hierarchy, working methods, decision about tools. We heard before, that without cultural change we will only scratch the surface of what could M 365 do for us, but we never deep d

[2021-01-17 16:48] kathyboilek commented on #395
Great idea and a suggestion about partnering  up with Emily. She has a
knack with understanding behaviors, etc.

On Sun, Jan 17, 2021 at 11:20 AM Luise Freese <notifications@github.com>
wrote:

[2021-01-17 17:08] LuiseFreese commented on #395
great idea @kathyboilek - article is 80% ready now - but gladly to work as well with Emily on it. Right now this is a collaboration of @gezeitenbrand and me :-)

[2021-01-17 17:40] sympmarc commented on #395
Also, be sure to check the relevant articles in MM4M365 to see what crossover there might be.

[2021-01-19 01:18] LuiseFreese commented on #290
If you like to, @eemancini - I'm happily offering help with that.

[2021-01-19 16:12] bigpix2000 commented on #315
So @LuiseFreese , now that we are back in the game, the obvious first change will be to Dataverse and away from Oakdale.  Based on the notes so far and the kind of questions and feedback we have seen in just the last couple of months, consider the following organization:

### Overview
summarizing what the doc is about and its purpose and that it does NOT replace the licensing detail, or all those

[2021-01-19 21:13] sympmarc opened #398 "Designing User Interfaces for Diversity and Inclusion"
#### Article suggestion

@tomresing posted an [article on LinkedIn](https://www.linkedin.com/pulse/community-increases-diversity-inclusion-tom-resing/) today about how one person can make suggestions which lead to product documentation and wording which is better for everyone. It feels like we could have an article here which talks about how to build user interfaces and documentation which support

[2021-01-20 11:57] LuiseFreese commented on #315
hi there, I struggled with commenting here and scrolling up and down so I put my takes into my blog repo, its public and you will find it here:

[Power Platform Licensing](https://github.com/LuiseFreese/blog/blob/main/fordocs/Power-Platform-Licensing.md)

Let me know what you think @bigpix2000

[2021-01-20 15:57] #360 closed

[2021-01-20 15:58] #395 closed

[2021-01-20 19:48] LuiseFreese opened #399 "Follow Microsoft 365 on Social Media needs some updates"
#### Article issue

The article [Follow Microsoft 365 on Social Media](https://docs.microsoft.com/en-us/microsoft-365/community/microsoft-365-on-social-media) needs some updates and improvements:

* the highlighted tip to have a Power Automate template to monitor certain hashtags is not linked to a template and not described how to do that
* noone is using the in the tip highlighted # "PowerHelp"

[2021-01-20 22:03] LuiseFreese commented on #398
I would like to do that- if anyone wants to join, open to collaborate as well.

I already have some ideas.

[2021-01-21 15:01] sympmarc commented on #399
@PathToSharePoint - This is your article; just want to keep you in the loop. I say go for it, @LuiseFreese - open source!

[2021-01-21 15:59] PathToSharePoint commented on #399
Thanks for the list of suggestions @LuiseFreese ! And thx for pinging me @sympmarc , this is a timely topic as it'll be the subject of my presentation tomorrow at the Cal conference.

Certainly the most important point is to turn the list into action, with an actual template. Love the idea! For the record as part of my presentation I'll share a Power BI template and that could be linked too. [Clic

[2021-01-22 16:35] bigpix2000 commented on #315
Got busy and will be deep diving the link above .... interestingly I got pinged by the community on License questions that actually gave some validation for the pieces we are working on as well as a note for one additional (or modified) sample that is current.

[2021-01-22 16:41] bigpix2000 commented on #315
Got busy and will be deep diving the link above .... interestingly I got pinged by the community on License questions that actually gave some validation for the pieces we are working on as well as a note for one additional (or modified) sample that is current.

[2021-01-22 16:41] bigpix2000 commented on #315
Got busy and will be deep diving the link above .... interestingly I got pinged by the community on License questions that actually gave some validation for the pieces we are working on as well as a note for one additional (or modified) sample that is current.

[2021-01-23 20:20] PathToSharePoint commented on #399
@LuiseFreese follow up on the templates. After doing some work on my Power BI template this week, it's clear that it will require its own repository and page(s) for  instructions. Not something that would just fit in the current page. I am open to ideas and suggestions, and to hear what you have in mind for the automate sample. For now my plan is to use my own blog and github repository. Also, [cl

[2021-01-26 10:52] zshane15 opened #404 "In a list with versioning enabled, attachment changes are not versioned"
The trivia item "In a list with versioning enabled, attachment changes are not versioned" should be revised.

This documentation appears to be incorrect or misleading. When versioning is turned on for a list, newly added attachments always produce another version when saving. This can be seen when adding a new item or updating an existing item. SharePoint will create a version for the initial subm

[2021-01-27 20:32] Gezeitenbrand commented on #398
I would like to help you with that @LuiseFreese, scanning through some ideas already 🤘

[2021-02-03 15:34] LuiseFreese commented on #398
happy to work with you!

[2021-02-03 16:38] tomresing commented on #398
Let me know how I can help. I really like where this is going. Curious to hear the ideas!

[2021-02-03 21:10] tomresing commented on #388
[Use the highlighted content web part](https://support.microsoft.com/en-us/office/use-the-highlighted-content-web-part-e34199b0-ff1a-47fb-8f4d-dbcaed329efd) is the lead article. It's meant to cover the first three bullets in your list. If there are suggested changes or additions for that part, please let us know.
I don't see a lot of examples on KQL. There's [a limited set](https://docs.microsoft.

[2021-02-03 21:41] wobba commented on #388
I'd love to contribute with samples. If someone has a list of useful scenarios to start with. Or I can come up with a pretty long list as well most likely. Knowing the schema properties is the hard part.

[2021-02-06 05:46] PathToSharePoint commented on #399
Just making a note that Viva needs to be added too. There seems to be a twitter account https://twitter.com/MicrosoftViva but it is currently protected. As for the hashtags, there is no clear favorite yet between #MicrosoftViva and #MSFTViva.

[2021-02-07 14:32] LuiseFreese opened #408 "Guidance why-how-what in Power Platform / Azure Logic Apps for enterprise level solutions"
#### Article suggestion

Would like to elaborate on when to use what Power Apps, Power Automate, QnA Maker, Power Virtual Agents, Azure Logic Apps etc. for enterprise level solutions and why this needs to be a different approach than for personal productivity.

[2021-02-08 13:28] eemancini commented on #290
@LuiseFreese, excellent! I will let you know when I post so you can add your phenomenal additions :)

[2021-02-08 14:06] sympmarc commented on #399
@PathToSharePoint - @jeffteper made it [official on Twitter](https://twitter.com/jeffteper/status/1357705275994611715).

[2021-02-08 14:12] LuiseFreese commented on #290
YAY! love it :)

[2021-02-08 14:13] sympmarc commented on #404
@zshane15 - Have you looked at [Run a flow when a SharePoint column is modified](https://flow.microsoft.com/en-us/blog/run-a-flow-when-a-sharepoint-column-is-modified)? I haven't used that with the attachments column, but maybe it will solve your issue? Let us know if it does.

In the meantime, I'll chat with @PatD about rewording the article to make that line clearer.

[2021-02-08 17:42] zshane15 commented on #404
@sympmarc yes I tried getting that action to work but the versions created by attachments are really messing things up. There is no reliable way to programmatically return the last version which was created by the user changing data in relation to the current version.

For example, when an item is modified, I want to determine if the Status column changed. Without the any attachment changes I coul

[2021-02-08 20:24] sympmarc commented on #404
Maybe save the docs in a separate library rather than as attachments?

[2021-02-10 13:35] sympmarc commented on #388
Adding @wobba for the samples. @PatD: want to coordinate?

[2021-02-10 19:55] clarenznet opened #409 "Microsoft Excel Multiple Signing, Document Versioning and Document Integrity"
#### Question

I am using office 365 and found a scenario I think office 365 should be able to solve.
Consider I am an officer in a business and I have to issue out specific tools to at least 4 employees. I need them to accept receipt of the tools and digitally sign against an excel office 365 document I created online for future reference. I want to ensure document integrity once they sign until

[2021-02-15 14:57] sympmarc commented on #409
@clarenznet - This is an interesting set of requirements, but it's pretty specific to your needs. I'd suggest posting in the [Microsoft Tech Community, SharePoint General hub](https://techcommunity.microsoft.com/t5/sharepoint/bd-p/SharePoint_General).

In this repo, we're trying to generate community-driven documents that help solve broad problems. I'm not saying your concept wouldn't be an excell

[2021-02-15 14:57] #409 closed

[2021-02-17 18:54] veronicageek commented on #270
@sympmarc - Late for that one, but how do we answer to those comments? And then you can close the issues.

[2021-02-17 20:48] sympmarc commented on #270
When we get comments like this, I think it's just useful to decide if the article needs any adjustment to help with the comment/question. Even though this happened a while ago, do you think any updates make sense? If not, feel free to close, or let me know you'd like me to.

[2021-02-17 21:27] #290 closed

[2021-02-17 23:00] PathToSharePoint commented on #399
@sympmarc so #MSFTViva it is, I'd love to hear the rationale here. It seems to me that the rule so far was to NOT abbreviate Microsoft.

I have published my [Power BI report for Twitter](https://github.com/PathToSharePoint/PowerBI/tree/main/Twitter). I don't want to force it on everybody, so I'll wait to hear if it's worth including in the article. For the record, I'll use it in March to track MS

[2021-02-18 14:18] sympmarc commented on #399
Hey, if Jeff says it's #MSFTViva, then that's what it is!

I'm not sure about your Power BI report. It seems that using lists or steams in something like HootSuite give people a way to customize their own Twitter feeds.

[2021-02-18 17:10] PathToSharePoint commented on #399
@sympmarc good call, and maybe a third party tool like HootSuite is what we could recommend instead of - or in addition to - Power BI or Power Automate.

I am not using HootSuite myself so I'll need to give it a try (or try the Twitter homegrown tool some people have mentioned). The idea with a BI report is to answer questions such as:
- what was the most popular tweet in the past week
- what was

[2021-02-18 17:22] LuiseFreese commented on #399
I worked with Twitter Connector in Power Apps and in Power Automate, but both Connections required a twitter user as -connection. What do you mean by "doesn't require to login to Twitter" ?

[2021-02-18 17:32] PathToSharePoint commented on #399
Sorry, my comment was about the Power BI report specifically. It uses a "developer token" to authenticate to the Twitter API, which is different from having a Twitter user account. I have posted more details with the template instructions.

[2021-02-18 17:36] LuiseFreese commented on #399
💡💡💡 - thank you!

[2021-02-18 19:23] PathToSharePoint commented on #399
@sympmarc after reviewing the HootSuite offer, [the analytics plan doesn't come cheap](https://www.hootsuite.com/plans). So I wouldn't feed comfortable recommending it. On the other hand, a Power BI desktop template is free, and it's a good learning experience when you work with MSFT365

Thoughts? I'll keep looking for other Twitter apps.

[2021-02-19 17:29] eemancini commented on #173
@aaronrendell I see Todd submitted the article in May and we forgot to close the issue. Feel free to open a PR for any amazing additions you may have :) https://docs.microsoft.com/en-us/microsoft-365/community/all-about-groups

[2021-02-19 17:30] #173 closed

[2021-02-20 20:29] PathToSharePoint commented on #399
@LuiseFreese @sympmarc I just posted a pull request that addresses some of the issues:
- changed help example to replace PowerHelp
- added MSFTViva
- removed pnphelp

[2021-02-20 21:58] veronicageek commented on #270
@sympmarc - I believe the answer is in the "_How do I access my files?_" section, I also mention at the end that the changes are always reflected.

You can close the issue (I don't seem to have the right to do that) - Thanks.

[2021-02-22 19:31] sympmarc commented on #399
@PathToSharePoint - I hadn't looked at the contents of your PowerBI report when I made my comment above. You're right: third party tools which offer stats like that cost money. But isn't PowerBI itself costly?

Plus, in my mind, the use case for most people is to follow the hashtags on Twitter or LinkedIn or whatever so they can read what's going on. I don't think the "most popular hashtags" type

[2021-02-22 19:31] sympmarc commented on #270
Great. Closing for you...

[2021-02-22 19:31] #270 closed

[2021-02-22 19:48] PathToSharePoint commented on #399
@sympmarc thanks for the feedback! That's why I said I didn't want to force the tool on everybody, I want it to make sense.

To address some of your points:
- Power BI Desktop is free, and some features of Power BI Service come for free with Microsoft 365. That's actually how I use it in this scenario. The twitter API is free for occasional use.
- One of the features I advertise in my talk is that

[2021-02-24 18:24] PathToSharePoint commented on #399
@sympmarc @LuiseFreese now that the immediate issues have been addressed, would it make sense to move this thread - or at least the part that is still relevant - to discussions?

[2021-02-24 18:33] LuiseFreese commented on #399
yes good idea!

[2021-02-26 18:57] dcashpeterson commented on #398
If you still need assistance with this one I would be happy to add another set of eyes.

[2021-02-26 20:10] sympmarc commented on #398
Three high-powered volunteers: can't wait to see what you come up with!

[2021-02-28 05:22] Danielx64 opened #422 "Power Automate vs Logic Apps needs updating"
Just a small head up on this section:

That is no longer correct as this now applies:

Source: https://docs.microsoft.com/en-us/azure/logic-apps/export-from-microsoft-flow-logic-app-template

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3341b93-944b-b3b4-bdd2-3ef9df2a19d5
* Version Independent ID: 3ecd9b65-0dd5-6f08-

[2021-03-02 10:09] JeroenDerde opened #423 "Default versioning"
For SharePoint Online, both Lists and Libraries now have versioning enabled by default.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6080b47a-816c-8bc8-94c0-506d040ae9bd
* Version Independent ID: c06f1880-827d-1d0b-c0fc-601432749411
* Content: [Versioning in SharePoint](https://docs.microsoft.com/en-us/microsoft-365/

[2021-03-02 13:47] CallumCrowley commented on #423
This is resolved in PR #417 which is currently open.

[2021-03-02 18:42] CallumCrowley commented on #422
Thanks for raising this. I've created a PR that should resolve the issue.

[2021-03-04 18:34] #422 closed

[2021-03-18 21:30] CallumCrowley commented on #392
@sympmarc I have created PR #431 to resolve this.

[2021-03-18 23:21] helloitsliam commented on #392
Hey @sympmarc, I actually created a different PR, that adds a missing license, and retains the original password expiration link plus the additional one. PR [432](https://github.com/MicrosoftDocs/microsoft-365-community/pull/432)

[2021-03-18 23:29] CallumCrowley commented on #392
@helloitsliam thanks for adding the missing licence, PR #431 already has those links however.

[2021-03-22 18:13] CallumCrowley commented on #366
Thanks for raising the issue @kevintaber. To answer your question, if you have a some files or folders that you do not want any member of the Team to edit, then I would place these in a separate document library and give them read access by breaking inheritance on that one library. I would then add the library as an additional tab on the channel in Microsoft Teams.

[2021-03-23 12:53] #392 closed

[2021-03-29 17:45] sympmarc opened #436 "Replace "CDS" with "Dataverse""
#### Article issue

Several articles still refer to CDS or Common Data Service instead of Dataverse. Need to change the references in the following articles:

- [CDS and Model-Driven Apps Standards and Naming Conventions](../blob/master/Community/cds-and-model-driven-apps-standards-and-naming-conventions.md)
- [Making Good Technology Decisions: Data Storage](../blob/master/Community/making-good-te

[2021-03-29 19:04] sympmarc commented on #436
Fixed in changes on 3/29.

[2021-03-29 19:04] #436 closed

[2021-04-11 18:27] Gezeitenbrand commented on #398
I just PR'ed an article for this and I'm looking forward to feedback :)

[2021-04-12 20:25] #398 closed

[2021-04-12 23:24] #315 closed

[2021-04-15 13:07] sympmarc opened #447 "Add information about SCA requirement to How Do Site Columns Become Managed Properties - Thus Available for Search"
#### Article suggestion

The current article [How Do Site Columns Become Managed Properties - Thus Available for Search](https://docs.microsoft.com/en-us/microsoft-365/community/how-do-site-columns-become-managed-properties-thus-available-for-search) covers the path from Site Column to Managed Property well. Given the recent (re)identification of a longstanding issue with getting Site Columns to b

[2021-04-15 14:29] sympmarc commented on #447
@wobba @JimmyHang - I've revised the article, adding an *Important* alert explaining the SCA thing. I'd appreciate any thoughts before we push it to live.

[2021-04-15 14:41] wobba commented on #447
Do you have a link to review?

[2021-04-15 14:45] JimmyHang commented on #447
Looks good for me @sympmarc, 👍

[2021-04-15 14:50] wobba commented on #447
I'd like to be more specific.

[code]

[2021-04-15 15:50] sympmarc commented on #447
@wobba The sentence "The properties do exist and work for search, but makes it hard to do custom mapping" is basically irrelevant to the people who expect to see the Crawled Properties and don't. If they are there, but not visible, they aren't usable. I'm happy to add the sentence, but it won't help anyone - IMO, it just confuses things.

BTW, in one of the two tenants I provided in the email thre

[2021-04-15 15:54] wobba commented on #447
@sympmarc I still think the explanation should be accurate. As the props are there and you can search against FooOWSTEXT and retrieve it. "For a cp to show in the admin UX add yourself as a sca" might be better. Cause you can map and all without it being in the UX.

[2021-04-15 16:05] sympmarc commented on #447
@wobba AFAIK, you're the only person who knows about the XML file approach. :-) But no problem. I just made the change.

Any idea on my other question above?

[2021-04-16 00:50] shawnpmiller opened #448 "Wrong url in Notes"
In the notes section towards the top, you reference the url to access the nav. The url is listed as /layouts/ but should be /_layouts/
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 113ca464-7300-1bd0-8e66-7f6ab3839fb8
* Version Independent ID: 2b4fbf9c-27f3-4aec-3859-9065bb1f150b
* Content: [A Gu

[2021-04-20 21:16] sympmarc commented on #447
@wobba - It took a while, but the changes to the article just went live: [How Do Site Columns Become Managed Properties - Thus Available for Search](https://docs.microsoft.com/en-us/microsoft-365/community/how-do-site-columns-become-managed-properties-thus-available-for-search)

[2021-04-20 21:16] #447 closed

[2021-04-22 20:24] aandrew129 commented on #172
While this may be hard to accomplish, it is necessary. Frankly, after spending years administering commercial tenants and recently moving into the government space, I have been appalled by not only the lack of documentation and guidance, but the horrendous quality of what little documentation exists. We have wasted an insane amount of our time, and valuable MS support engineers' time due to incorr

[2021-05-07 18:02] sympmarc commented on #448
Thanks for the fix, @shawnpmiller! I've made the change and it should be published soon.

We keep a log of folks who have contributed. If you'd like that recognition - for an underscore, even! - send me the link to your LinkedIn profile, as that's how we give credit.

[2021-05-13 02:38] MuSantana1 opened #451 "Flow and Premium Connector"
If I'm reading it correctly, the following section states that "if the flow **does not use a premium connector** such as call Dataverse in the full production environment", then "**the cost of the flow must either be for each user or a per flow license is used so that all users of the list may be serviced by it**."

A common question is if a Flow is created for a SharePoint List and many users int

[2021-05-13 18:14] bigpix2000 commented on #451
@MuSantana1  I looked at one of my interim versions of this and you are correct as originally the statement was to say it was included and then a separate sentence to say the opposite.  in the streamline for the issue, it looks like it got mixed!   A quick fix should do it.  Thanks for looking at this closely and this is exactly what community is all about :)

[2021-05-13 18:16] bigpix2000 commented on #451
@sympmarc , can you assign this to me to fix?  its a quick one.  thanks! (noting that other areas in the post support the "fix" already and this appears to be the one item to clean)

[2021-05-20 18:07] rekamath opened #452 "Adjusting PST Version Retention Policy"
We are introducing changes to the version retention policies for Outlook Data Files (PST File Type) and would like the documentation to reflect this:

The PST version retention policy changes are being introduced to address concerns around storage impact of PST versions and will ensure PST file versions no longer consume storage for extended periods. When PST files are uploaded on OneDrive for Bus

[2021-05-21 19:31] sympmarc commented on #452
@rekamath - This article doesn't mention PST files currently. Do you have a suggestion about where we should include this information? Feel free to do a pull request if you have specific edits.

[2021-06-03 00:19] rekamath commented on #452
@sympmarc I would really like to include the PST version policy changes as a bullet point under the **"Best Practices and Versioning Trivia"** saying something like **"As best practice PST files should not be uploaded on OneDrive for Business and SharePoint Online team site document libraries due to the impact on storage. If PST files are uploaded the service will retain versions for 30 days."**

[2021-06-03 00:25] rekamath commented on #452
@sympmarc I have no idea how to do a pull request so if you need me to do that could you please send me the instructions. Really appreciate your help here

[2021-06-03 19:39] MichaelRoth42 opened #453 "Power Apps design principles"
#### Article suggestion

Guidance around design principles targeting Citizen Developers. How to make professional looking Power Apps
Happy to write it myself 🙂

[2021-06-03 22:24] sympmarc commented on #453
We'd love to get your thoughts on this, @MichaelRoth42!

[2021-06-06 16:48] duffymike opened #454 "Last paragraph needs cleanup / contradictory"
Good article, but the last paragraph has contradictory statements. It looks like it was started and then first two sentences repeated with slight change being that Microsoft article agrees instead of disagrees.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 774d5574-4307-5a2d-5fde-020f7d4c0c40
* Version Independent ID:

[2021-06-07 12:56] sympmarc commented on #452
@rekamath - I can take care of this for you, since it's a simple change. We like to give credit to people for updates, and we generally link to the person's LinkedIn profile. If you give that to me, I'll make sure you're on the list of contributors.

[2021-06-07 12:56] #452 closed

[2021-06-07 13:01] sympmarc commented on #454
Thanks, @duffymike. I didn't see the contradiction, but there was definitely a repeat. Fixed!

Feel free to do a PR in the future if that's something you're comfortable with. In any case, this gets you on to the list of contributors for June!

[2021-06-07 13:01] #454 closed

[2021-06-07 21:06] rekamath commented on #452
Here is my linked  profile Reetu Kamath | LinkedIn<https://www.linkedin.com/in/reetukamath/>

From: Marc D Anderson ***@***.***>
Sent: Monday, June 7, 2021 5:57 AM
To: MicrosoftDocs/microsoft-365-community ***@***.***>
Cc: Reetu Kamath ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-community] Adjusting PST Version Retention Policy (#452)

@rekamath<https://nam06.safel

[2021-06-07 22:06] sympmarc commented on #452
Great, thanks. I've made the change, and it should be live later today, I expect.

[2021-06-12 16:01] DeanGross opened #458 "Making this content more discoverable"
#### Question

Does anyone know how we could get all of this content linked as references from the various official document locations?

I think  that it would make this content much more discoverable if the official docs contains links to this content in the Additional Information/Related links sections

#
#### Submission Guidelines

Thanks for your contribution! Sharing is caring.

[2021-06-15 12:18] sympmarc commented on #458
@pamgreen-msft probably has some thoughts on this.

[2021-06-15 15:28] JeremyEsposito opened #460 "We need clarification on file version storage and how it effects site storage/quota"
This document states: _When you create a new version of a document, the incremental changes are stored in SQL Server, rather than a completely new copy of the document. This provides the most efficient storage and helps reduce overall storage requirements._

This might be true on the infrastructure side but not on the site/tenant storage quota.

The SharePoint quota is consumed by all data stored,

[2021-06-16 05:04] modery opened #465 "Management of Content Competency requires explanation of "Putability""
The [Maturity Model for Microsoft 365 - Management of Content Competency](https://docs.microsoft.com/en-us/microsoft-365/community/microsoft365-maturity-model--management-of-content) article mentions the term "putability" 3 times, but offers no explanation what it actually means.

I remembered seeing it years ago, but couldn't figure out what it was. Best reference I found is in [this book](https:

[2021-07-05 01:02] FleurWilliamson opened #470 "Need more detail on technical differences"
I have come across other differences between Team sites and Communications Sites that should be listed on this page.  Eg Communication sites have the Multilanguage support that Team sites don't.  Also differences in Analytics.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebb268a6-0b67-3867-5976-7dc5c74e2aaa
* Version

[2021-07-06 16:11] PrasadKasireddy commented on #470
Thanks for reporting @FleurWilliamson, we will update the doc

[2021-07-07 14:25] PrasadKasireddy commented on #470
update the PR #https://github.com/MicrosoftDocs/microsoft-365-community/pull/471

[2021-07-07 14:47] PrasadKasireddy commented on #448
@sympmarc -It seems that changes are not published, I will pick this

[2021-07-09 14:32] bigpix2000 commented on #385
I waited for awhile to see what has evolved since this posting to give a chance for the community to coalesce on this given the key importance of Governance in its own right ... Also, I have changed to a job where I get to look at this more "en masse" for very large organizations where you would think it is embraced on its own as part of their corporate cultures .., it turns out the results are mi

[2021-07-13 12:55] sympmarc commented on #470
In PR #471, @SusanHanley added the multilingual info. Please let us know if you think other info is missing.

[2021-07-13 12:55] #470 closed

[2021-07-13 20:15] sympmarc commented on #465
@modery - Sorry I missed this issue when you posted it. Would you like to do a PR yourself? Otherwise, I can certainly make an update. It probably makes sense to add this to the [Glossary](https://github.com/MicrosoftDocs/microsoft-365-community/blob/master/Community/glossary.md) as well.

[2021-07-13 20:23] #460 closed

[2021-07-13 20:24] sympmarc commented on #451
@bigpix2000 - Did you make a change for this in your latest PR?

[2021-07-13 20:24] #448 closed

[2021-07-13 20:25] #423 closed

[2021-07-13 21:28] bigpix2000 commented on #451
Oh dear ... it looks like I missed this one ... for some reason it was not on my to do when I was clearing it.  It is still there.  Should I go to master to get it?  The fix is as they note (getting rid of a double negative) .... @sympmarc

[2021-07-13 21:52] sympmarc commented on #451
If you're game - fix away!

[2021-07-13 22:08] bigpix2000 commented on #451
@sympmarc done .... and a bonus where I could also bring up the dev plan nuance which was not there when the note was made

[2021-07-13 22:15] sympmarc commented on #451
Great! Thanks for taking care of it.

[2021-07-13 22:15] #451 closed

[2021-07-14 01:30] modery commented on #465
Hi @sympmarc , it's better if someone else takes care of it. I would've done it, but wasn't entirely sure about the meaning and the right way to explain it

[2021-07-14 17:16] sympmarc commented on #465
No worries, @modery. Just wanted to give you a chance to contribute.

@SimonJHudson @SimonDoy Want to take a crack at this?

[2021-07-15 10:39] SimonJHudson commented on #465
@modery Thanks for the issue; the use of 'Putability' is almost certainly down to me. Building on the quote you discovered, I (loosely) define it, as "The term 'putability' is the complement to the term 'findability'; it is a measure of how easy and obvious it is for content creators to know _where_ to store or create files or other information in a system. It is linked to elements of UI and UX de

[2021-07-15 12:29] sympmarc commented on #465
I'll add that to the Glossary and link to it in the article. Seems good to me!

[2021-07-15 12:29] SimonJHudson commented on #465
Splendid!

Simon Hudson
07735052905

Novia Works Ltd

Noviaconsulting.<https://noviaconsulting.co.uk/>co.uk

________________________________
From: Marc D Anderson ***@***.***>
Sent: Thursday, July 15, 2021 1:29:19 PM
To: MicrosoftDocs/microsoft-365-community ***@***.***>
Cc: Simon Hudson ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-community] Management of Content

[2021-07-15 12:42] #465 closed

[2021-07-15 20:24] sympmarc commented on #465
Updates pushed live: https://docs.microsoft.com/en-us/microsoft-365/community/microsoft365-maturity-model--management-of-content

[2021-07-25 22:00] CallumCrowley commented on #384
Hi @devbenjamin 👋

The action menu is at the top of a list or document library when using the modern experience and contains the "New" button etc

![image](https://user-images.githubusercontent.com/58050310/126914751-0cbb3d2d-9d1b-47f1-9d02-21f1f2886323.png)

[2021-07-25 22:01] CallumCrowley commented on #366
@kevintaber did this help resolve your issue?

[2021-07-27 17:40] PathToSharePoint commented on #399
There hasn't been much progress on this thread in the past months.

To wrap this up, I would suggest to remove the reference to Power Automate from the article. I am not sure where it came from (could be me...). Personally I am not a fan of promoting Power Automate as copy/paste tool.

As for the notable twitter accounts, maybe that section should be removed too, rather than opening a can of worms

[2021-07-27 19:37] sympmarc commented on #399
If you think there should be changes, feel free to do a PR.

[2021-07-27 19:42] UserManagedSolutions commented on #399
I'll definitely do a PR. I just wanted to make sure we, and the OP in particular, are on the same  page. It's a community endeavor!

[2021-07-27 19:44] PathToSharePoint commented on #399
I'll definitely do a PR. I just wanted to make sure we, and the OP in particular, are on the same page. It's a community endeavor!

[2021-07-28 07:34] LuiseFreese commented on #399
I'm fine with that, as already expressed here: https://github.com/MicrosoftDocs/microsoft-365-community/issues/399#issuecomment-785284583

:-)

[2021-07-29 12:49] sympmarc opened #488 "Remove Understanding Power Platform Licensing Article"
#### Article issue

@bigpix2000 @LuiseFreese
We've been asked to remove the [Understanding Power Platform Licensing](https://docs.microsoft.com/en-us/microsoft-365/community/powerplatformlicensingforcitizendeveloper) article. I'm going to do a PR this morning to take it out of the repo. I don't think we need to discuss this here, but I wanted to let you know.

@pamgreen-msft

[2021-07-29 12:55] bigpix2000 commented on #488
@sympmarc oh dear, that sounds major.  please let me know as soon as possible at the appropriate place. Thank you

[2021-07-29 12:58] #488 closed

[2021-08-02 11:14] HiltonGiesenow opened #494 "Small Typo"
'realize it has happened.)' should be 'realize it has happened.' (minus the last parentheses)
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db493db0-4524-2dec-dfc9-f708a5d063d1
* Version Independent ID: 2049ff98-f14b-2349-a03d-add5c07c3a39
* Content: [Maturity Model for Microsoft 365 – Collaborat

[2021-08-02 11:15] HiltonGiesenow opened #495 "Another small typo"
'co-located, in person working' should be 'co-located, **in-person** working' (hyphenated)
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db493db0-4524-2dec-dfc9-f708a5d063d1
* Version Independent ID: 2049ff98-f14b-2349-a03d-add5c07c3a39
* Content: [Maturity Model for Microsoft 365 – Collaboration

[2021-08-04 20:54] sympmarc commented on #495
Thanks, @HiltonGiesenow. Fixing now. Feel free to do a PR when you see things like this if you want. If not, pointing them out is great.

[2021-08-04 21:01] #495 closed

[2021-08-04 21:02] #494 closed

[2021-08-06 15:50] jmuehlenbein opened #507 "tl;dr?"
Great content! I'd like to pass it along to some end users but the weird "tl;dr" as heading of the first section is a bit offputting. Not sure what it's supposed to say but I'm hoping it can be corrected? thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7c49951-8871-c489-e4f3-81d845ebbce3
* Version Independent I

[2021-08-06 15:59] sympmarc commented on #507
tl;dr means there's a lot of text and this is the summary. See:
https://www.urbandictionary.com/define.php?term=tl%3Bdr

If you think it is significantly off-putting, I suppose we could change it so say "Summary".

[2021-08-06 16:16] jmuehlenbein commented on #507
Hey Marc, I should have known this was your work. really, great stuff! =)  I am obviously not up on the lingo of the kids these days so it's probably just fine but maybe ask a few other people if they know what it means? Sorry for assuming it was a mistake rather than just looking it up!

[2021-08-06 16:19] sympmarc commented on #507
That article isn't my work, but I'm one of the admins for this repo.

Hey, since you had to ask, it's probably worth changing. We just did a push to live today, so it'll probably take a little while, but I'll change it.

We also use `tl;dr` at the top of the Maturity Model for Microsoft 365 articles, because they are even longer.

[2021-08-06 16:24] jmuehlenbein commented on #507
Well, putting my communicator hat on, I'd say it doesn't set the best tone....has a negative connotation assuming the user knows what you mean, and is possibly confusing if (like me) they don't. Anyway, appreciate the opportunity to weigh in. =)

[2021-08-06 17:33] #507 closed

[2021-08-25 09:22] anoopt opened #512 "Site column - Image (Thumbnail) - Need to know the Crawled or Managed property"
Thank you for this article. It is very helpful.

Can you please let us know if a site column of the type `Image` will have a corresponding Crawled or a Managed property?

![image](https://user-images.githubusercontent.com/9694225/130764364-6f74f486-fc9c-41f5-bc7c-f4023a3bbda3.png)

I have done the following:
- Followed the details mentioned in the article
- Tried re-indexing the list (and site) a

[2021-08-30 09:24] davemehr opened #513 "The behindes of search and configuration"
I can't find that much about the search yet. i'm happy to write some topics about the search, microsoft search and sharepoint search (aka modern search webparts).

Here are any topics, but perhaps it's better in more then one article, or what you mean?

- microsoft search

- sharepoint search

[2021-08-30 14:24] sympmarc commented on #513
@davemehr Thanks for volunteering! We have some content about search in the Maturity Model, but as you've noticed, not a lot else.

* [Maturity Model for Microsoft 365 - Search Competency](https://docs.microsoft.com/en-us/microsoft-365/community/microsoft365-maturity-model--search)
* [Introduction - The Principles of Search](https://docs.microsoft.com/en-us/microsoft-365/community/principles-of-se

[2021-08-30 18:42] davemehr commented on #513
@sympmarc thanks for your feedback and your comments. Make sense that PnP Modern Search scenarios are saved in their own repo.
I think, we can create new content about the Microsoft Search.

You mean an high level article about "When to us Microsoft Search and when SharePoint Search"?

The existing linked article are very good, it describes all about columns, we could now start there and continue

[2021-08-30 18:50] sympmarc commented on #513
"When to us Microsoft Search and when SharePoint Search" sounds like it would be useful. I was also thinking about "When to use PnP Modern Search". The titles are just examples, of course.

If there are thing about search you'd like to write about, please do! We try to avoid overlapping too much with the support articles (the "how"), and focus more on the "when" and "why".

[2021-08-30 19:07] davemehr commented on #513
An high level article make sense, i plan to write them.

I consider about the "when" and "why" by search topics, so i think i can write one or another content.

[2021-08-31 15:34] SimonJHudson commented on #513
I'd love to see something on embedding search in processes and applciations - not just adding a search box, but really leveraging search functions to improve processes.
A real world example: we have just gone live in our clinical application with a (Azure cognitive services) function that looks at a clinical message a doctor is writing and suggests published clinical guidance he/she could use to a

[2021-08-31 16:57] sympmarc commented on #513
Here are a few more sets of existing articles you might want to check for overlap:
* [Search experiences in SharePoint](https://docs.microsoft.com/en-us/sharepoint/get-started-with-modern-search-experience)
* [Microsoft Search](https://docs.microsoft.com/en-us/microsoftsearch/)

[2021-09-15 19:06] JimmyHang commented on #512
Hi Anoop, that's a very good question, I did a quick test on my end and nothings shows up in Search Admin, maybe I have to wait more. @wobba, @sympmarc any tips/experience to share? :)

[2021-09-16 06:30] JimmyHang commented on #20
Hi @sympmarc and @pkbullock, I'll be happy to take over this article if help is still needed. I'm doing research about this myself these days.. :)

[2021-09-16 07:01] wobba commented on #512
Sounds about right. There is no crawled property emitted from `Image` columns today. I'm not sure of why this is but as it contains JSON like below, and if we added this into the index you would get recall on all the text in it like `thumbnail`, `fieldName`, `lists` etc. Which would not be a good search experience. I agree it makes sense as a non-searchable data, but by default all column values w

[2021-09-16 07:10] pkbullock commented on #20
Hey @JimmyHang go for it, since the changes and new features in this space I am out off date so would be beneficial to myself and I'm sure a few folks. Please shout if you need any help.  :-)

[2021-09-16 08:19] anoopt commented on #512
Thank you for the information @wobba.

[2021-09-16 12:55] sympmarc commented on #20
A lot has changed since you proposed it in 2019, too! I've done a session in the past about this topic, contrasting the CTH, Site Designs, and PnP Provisioning templates. Go for it, @JimmyHang.

[2021-09-17 07:29] pkbullock opened #514 "Risks of doing UAT/Dev in production"
#### Article suggestion

Based on the Twitter thread, around uat/dev in prod.

Whilst it can be done, there are reasons and risks associated with doing so.

Listing these out. Explaining why separate tenants would be better practice.

[2021-11-03 01:07] coupalm opened #524 "Internal names are limited to a specific length up to 255 Characters in SharePoint Online"
This is true only for document libraries. For lists, internal names are limited to 32 Characters.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4820cfd-6c16-cf3d-dafe-faebe9db24ca
* Version Independent ID: 041df04f-8b58-d8a3-82a0-bfb330a7c3c9
* Content: [SharePoint Naming Guidelines](https://docs.microsoft.com/en-us/

[2021-11-08 22:16] Lou240 opened #526 "OneDrive folder redirection move to OneDrive should leave behind .pst files."
[Enter feedback here]
PC folder backup and understanding existing folder redirection is great, but is a problem for .pst files.  With PC folder backup turned on, it will move the .pst file to OneDrive, then not sync it.  Not syncing ok, but it would be nice to be able to skip the file in the move because moving the .pst file will break existing definition in Outlook.  We plan to get rid of many TB

[2021-11-15 21:45] jamesdellowE2 opened #527 "When using security groups in combination with SharePoint Online, a user can be a part of 2049 security groups in total"
This article should reference limits with using Security Groups:

Source: [Azure AD service limits and restrictions](https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/directory-service-limits-restrictions)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b13b14f-0805-6eb0-dcc0-95aba93b77a5
* Versi

[2021-11-19 14:52] brucelangston opened #528 "page text needs editing"
The first sentence of the article, "Power Automate and Azure Logic Apps are workflow services that can automate your processes business or system...," needs editing.  A comma after "processes" would help, but then the next part doesn't really fit.  Microsoft docs used to be impeccably edited.  Now, with offshore outsourcing, people who can speak English reasonably and communicate satisfactorily is

[2021-11-19 17:45] eemancini commented on #388
Hello @PatD, just checking in to see if you need any support on this article. Looking forward to seeing what you come up with :)

[2021-11-19 17:46] #384 closed

[2021-11-19 17:49] #366 closed

[2021-11-19 17:49] eemancini commented on #363
@danielglenn, any interest in helping on this topic?

[2021-11-19 17:51] eemancini commented on #354
Hello @LuiseFreese, just checking in on your thoughts for this article. Let us know if you need any support :) Thanks for being such a frequent contributor!

[2021-11-19 17:52] eemancini commented on #325
Looking forward to what you come up with @danielglenn and Joanne!

[2021-11-19 17:55] eemancini commented on #297
Hello @PopWarner, @hugoabernier, and @LuiseFreese - just checking in to see if you need any support on this article. Really looking forward to what you come up with as I can see a lot of overlap with the new "writing for the web" session that Sharing is Caring is working on. It would be great to include that dev guidance in addition to the business user focus.

[2021-11-19 17:57] #285 closed

[2021-11-19 18:02] eemancini commented on #528
Hello @brucelangston. Thanks so much for your help identifying some grammar edits to the articles. Microsoft Community Content is a community-run initiative, not outsourced, so all of this content is created by volunteers who are passionate about Microsoft 365. We appreciate your patience as we find the balance between getting content in front of people and ensuring it matches Microsoft standards.

[2021-11-19 18:02] #528 closed

[2021-11-19 18:08] eemancini commented on #527
Thanks so much for the feedback, @jamesdellowE2. We try not to repeat content already on the official docs.microsoft.com in the Microsoft Community Content articles to reduce confusion and it would be challenging as non-Microsoft employees to maintain. That said, you bring up a great point that this is useful information related to this content. @veronicageek, what do you think of linking to the r

[2021-11-19 18:11] eemancini commented on #526
Hello @Lou240, thanks so much for flagging challenges with .pst files. Are you recommending this information be added to the article? If so, can you provide a draft of the edits you are seeking? Thanks so much for your help with the community-driven content :)

[2021-11-19 18:13] eemancini commented on #514
Are you interested in authoring this article, @pkbullock?

[2021-11-19 18:14] eemancini commented on #513
Hello @davemehr, just checking in to see if you need any additional support on this article. Can't wait to see what you come up with :)

[2021-11-19 18:15] #512 closed

[2021-11-19 18:15] pkbullock commented on #514
Yeap, sorry these dropped off the radar. Thx for highlighting.

[2021-11-19 18:16] eemancini commented on #453
Hello @MichaelRoth42. We are really excited for this article. As a UX specialist, I may be a bit biased ;p Let us know if you need any support :)

[2021-11-19 18:16] pkbullock commented on #524
I will validate and update the article, thx @eemancini for hoghlighting

[2021-11-19 18:17] #399 closed

[2021-11-19 18:18] eemancini commented on #391
Hello @helloitsliam and @DeanGross, just checking in to see if there is any additional support you need or if we can close this issue. Thanks so much for both your contributions!

[2021-11-19 18:19] eemancini commented on #356
Hello @mikezimm, just checking in to see if you have any specifics we can add to this article or if we should close the issue. Thanks so much!

[2021-11-19 18:19] #342 closed

[2021-11-19 18:31] MichaelRoth42 commented on #453
I think I found the perfect supporter for that (and thanks for reminding me about this issue 🙈)

[2021-11-19 18:33] helloitsliam commented on #391
Thanks for checking in. For now this can be closed, as it was updated to the following: "**Enterprise Mobility + Security E3/A3/G3, Enterprise Mobility + Security E5/A5/G5, Microsoft 365 E3/A3/G3, Microsoft 365 E5/A5/G5, Microsoft 365 E5/A5/G5 Security, and Microsoft 365 Business Premium**"

We might need to review the licensing again with all the latest updates, but that can be done seperately. T

[2021-11-19 19:31] eemancini commented on #514
No worries at all. We know this is volunteered time and we appreciate your contributions :)

[2021-11-19 19:32] eemancini commented on #524
Thanks so much, @pkbullock!

[2021-11-19 19:32] #524 closed

[2021-11-19 19:32] eemancini commented on #453
Excellent!

[2021-11-19 19:33] #391 closed

[2021-11-19 19:34] eemancini commented on #245
Hello @aaronrendell. Just checking in to see if you are still interested in writing and if you need any support. Thanks so much for volunteering your time to help with Community Docs :)

[2021-11-19 19:36] #238 closed

[2021-11-19 19:38] #234 closed

[2021-11-19 19:40] #196 closed

[2021-11-19 19:44] eemancini commented on #195
Hello @helloitsliam and @veronicageek, just checking in to see if you need any support on this article. Reading the questions you have outlined already have me excited to read it!

[2021-11-19 19:44] #187 closed

[2021-11-19 19:47] helloitsliam commented on #195
No support needed yet. Maybe I should start actually drafting the article :-)

Maybe we use this "wordsmith-ed" questions as the start, and structure it out. If your excited about the question, I am too ;-)

[2021-11-19 19:52] #168 closed

[2021-11-19 19:53] #156 closed

[2021-11-19 19:53] #152 closed

[2021-11-19 19:55] eemancini commented on #151
Closing this one for Community Content as Microsoft released this article: https://docs.microsoft.com/en-us/sharepoint/plan-navigation-modern-experience

[2021-11-19 19:55] #151 closed

[2021-11-19 19:55] #142 closed

[2021-11-19 19:56] #135 closed

[2021-11-19 19:57] eemancini commented on #67
Hello @aaronrendell, just checking in to see if you need any support on this one and if you are still interested in writing. Thanks so much for volunteering your time for this effort!

[2021-11-19 19:57] PatD commented on #388
Yeah I think this one has simmered incomplete for long enough.  Heck of a year, but I can take this one on now that we're wrapping up 2021.

I don't want to just rehash [Microsoft's own documentation on this](https://support.microsoft.com/en-us/office/use-the-highlighted-content-web-part-e34199b0-ff1a-47fb-8f4d-dbcaed329efd) as it's already pretty thorough. Instead I think it should be more of a "

[2021-11-19 19:58] eemancini commented on #64
Hello @nyoung30, just checking in to see if you need any support on this article and if you are still interested in writing. Thanks so much for volunteering your time for this effort!

[2021-11-19 19:59] eemancini commented on #48
Hello @sinhakislay, just checking in to see if you need any support and if you are still interested in writing this article. Thanks so much for volunteering your time for Comm Docs!

[2021-11-19 20:01] eemancini commented on #45
Hello @sinhakislay and @ScottShearer, just checking in to see if you need any support and if you are still interested in writing this article. Thanks so much for volunteering your time for this effort!

[2021-11-19 20:01] #44 closed

[2021-11-19 20:01] #41 closed

[2021-11-19 20:07] eemancini commented on #20
Looks like we missed formally assigning to you @JimmyHang. Updated! :) Looking forward to this one. Thanks so much for volunteering your time.

[2021-11-19 20:24] eemancini commented on #388
Sounds great, @PatD, and thank you for volunteering your time for this :)

I think the most common (and my favorite) usage I have seen for HCWP is for Benefits documents on an Intranet Communication Site. So often there are tons of supporting documents for medical (hmo and ppo), dental, vision, wellness, life insurance, accidental death and dismemberment, etc. These benefits documents are changed

[2021-11-19 20:29] PatD commented on #388
Thanks @eemancini  - Yep that's exactly what I'm thinking of!  I think for documentation like this (intermediate level) there's value in pairing a story with an example. Anything like this is great.

[2021-11-19 20:59] eemancini commented on #388
Agreed, @PatD! Helps form those mental models :)

Another example could be a training content scenario. In a previous organization the process to begin a contract with a vendor crossed multiple departments. The vendor qualification sat in the Quality team, the contract review was with Legal, and the vendor initiation was with Purchasing. These documents rightfully sat in each Communication Site bu

[2021-11-19 22:27] mikezimm commented on #356
@eemancini ,
It has been a while but when I was looking at it I was surprised that an article talking about AI and assigning meta data would not make any reference to Microsoft Syntex:
https://www.microsoft.com/en-us/microsoft-365/enterprise/sharepoint-syntex?activetab=pivot%3aoverviewtab

[2021-11-20 10:26] pkbullock opened #533 "Intranet Content Sources and Ideas"
#### Article suggestion

The idea comes from recent Viva connection projects where clients are struggling with what to write for a brand new intranet. This article suggestion would suggest ideas based on experience and observations from projects and common writing.

So when your writing news, events, departments etc you have suggestions of content that could be informative and engaging.

This is q

[2021-11-20 12:17] eemancini commented on #533
Love the idea! My idea is more related to creating a course to support new Comm Docs authors so no clashing in sight :)

[2021-11-20 13:37] nyoung30 commented on #64
Hi @eemancini, thanks for the nudge. I'll start putting something together ASAP.

[2021-11-20 13:43] eemancini commented on #64
Thanks so much, @nyoung30! Can’t wait to see what you come up with.

[2021-11-20 20:41] LuiseFreese commented on #354
Hey Emily, since this is now more than a year ago, I published this in 2020 on my personal blog -

https://www.m365princess.com/blogs/2020-10-19-m365-developer-bootcamp/

[2021-11-21 15:30] PatD commented on #388
<img width="637" alt="image" src="https://user-images.githubusercontent.com/370735/142768072-e0c4ac41-3251-481c-83b0-7cbd1b09c425.png">

Doc is about 50% complete now.  Building lots of examples in a demo tenant.

The Managed/Crawled property piece for complex filtering has a pretty significant learning curve on its own.  I relied heavily on this excellent Microsoft Community Docs writeup from @Ji

[2021-11-22 20:55] sympmarc commented on #388
An ouroboros!
![image](https://user-images.githubusercontent.com/1295627/142933930-3b8d22a6-5362-4ddf-b91d-43305ee678bf.png)

[2021-11-24 22:51] kthirapatpibul opened #535 "Missing information"
Seems like the Model-Driven Apps section is missing information as it's empty?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e01d226f-adc4-913b-06a3-894d3f675d91
* Version Independent ID: 32a11939-0c36-11c2-21f0-dd83cb59d36e
* Content: [Dataverse and Model-Driven Apps Standards and Naming Conventions](https://docs.mic

[2021-11-29 20:22] pkbullock commented on #533
Once/If approved this issue can be closed :-)

[2021-12-02 13:21] CLBTraining opened #537 "Display permanently"
Hi
Wonder if anyone can help.  I upload a lot of files to different Sharepoint sites and when its only two or less, I have to click the Circle Arrow key to see the progress bar on the right hand side.  Is there a view or way I can display it permanently on the right independent of how many files I upload?

Thanks from South Africa

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2021-12-03 15:49] eemancini commented on #533
Thanks, @pkbullock! We will review shortly :)

[2021-12-03 15:51] eemancini commented on #537
Hello @CLBTraining. This Issue list is for content related to the Microsoft Community Content. I recommend posting on [Tech Community](https://techcommunity.microsoft.com/t5/sharepoint/ct-p/SharePoint) for additional help. To my knowledge, there is no out of the box way to permanently display this upload progress bar.

[2021-12-03 15:51] #537 closed

[2021-12-12 22:24] PatD commented on #388
Progress:  Intro and example 1 complete.

This one is taking longer than I want - and I realized why.  The Highlighted Content Web Part appears simple at first, but all the good features of required their own learning paths.  I had to learn KQL, Managed/Crawled Properties, and CAML to be competent enough to write something of value for the Community Docs.

So that's what I'm framing the opening of

[2021-12-13 16:59] eemancini commented on #354
Thanks so much for the update. Since this is a more technical article, that is a great place for it or even the PnP blog :)

[2021-12-13 16:59] #354 closed

[2021-12-13 17:40] tomresing commented on #388
Thanks for the update. That sounds like a great intro. I remember trying to learn XSLT. There was so little available. I keep thinking CAML has gone the way of XSLT, until I get reminders like this. Is the highlighted content web part the only modern experience still relying on it?

[2021-12-13 17:42] sympmarc commented on #535
Right you are, @kthirapatpibul! I'll see if I can find someone to flesh that section out. If you have ideas, please feel free to do a PR or post them here.

[2021-12-15 03:12] PatD commented on #388
Asking for help, frustrated.  I can't find documentation on writing CAML query for Highlighted Content Web Parts.  Microsoft's documentation implies it exists, but it is high level and seems skewed towards provisioning sites and creating content types.

Anyone have working examples of CAML for HCWPs that I can learn from?

[2021-12-15 07:08] wobba commented on #388
Look at https://docs.microsoft.com/en-us/sharepoint/dev/schema/query schema and also this great caml builder plug-in https://github.com/andrei-markeev/camljs which has helped me a lot in the past.

[2021-12-15 14:58] sympmarc commented on #388
@wobba - Your first link won't work for me. Maybe internal?

My bigger question is how you even use CAML. The HCWB clearly says you can, but then the **Query text** box indicates it wants KQL.

<img width="365" alt="image" src="https://user-images.githubusercontent.com/1295627/146209663-634bee02-162b-48b2-b253-979a64413ae5.png">

[2021-12-15 15:02] sympmarc commented on #388
Aha! Check out this article: https://support.microsoft.com/office/use-the-highlighted-content-web-part-e34199b0-ff1a-47fb-8f4d-dbcaed329efd#bkmk_customquery

_Select the source of the items you want to display. The source will determine the query language to use and the UI options you see:

This site, This site collection, and Select sites use KQL query strings. For more information on KQL, see th

[2021-12-15 16:14] tomresing commented on #388
@sympmarc the first link from @wobba  doesn't resolve for me either. maybe it was missing the last part of the URL? https://docs.microsoft.com/en-us/sharepoint/dev/schema/query-schema does resolve and it's in a large section of developer docs on CAML.
Also, love how you're digging up the relevant info for @PatD to complete this. Clearly, this is an area that deserves this treatment!

[2021-12-15 16:17] sympmarc commented on #388
@tomresing - Thanks for the right link. Hey, we're a community here: it's one for all and all for one!

[2021-12-15 16:23] tomresing commented on #388
![3 musketeers](https://media.giphy.com/media/m6yXGH5hy4WzxtSGq5/giphy.gif)

[2021-12-16 07:29] wobba commented on #388
https://docs.microsoft.com/en-us/sharepoint/dev/schema/query-schema?redirectedfrom=MSDN should work

[2021-12-17 11:04] hrfmjp opened #549 "Automatic indexing will work even if the list held more than 20,000 items."
In my tenant results are as follows.
The index was created automatically even when the list held more than 20,000 items.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7c49951-8871-c489-e4f3-81d845ebbce3
* Version Independent ID: c84959ec-3662-6963-00dc-5b3a0d9873c0
* Content: [Living Large with Large Lists and Large

[2021-12-19 15:27] PatD commented on #388
Thank you @tomresing @wobba @sympmarc !  I've got a direction I can move in now.

<img width="501" alt="image" src="https://user-images.githubusercontent.com/370735/146680628-0b0452af-ceab-4249-ac2a-f2ecdd21bc9c.png">

[2021-12-20 09:29] karimegitHub opened #552 "Using the internal name of a SharePoint column does not work in some instances"
Using the internal name of a SharePoint column does not work in some instances.

Example, easily reproducible:
SharePoint column name JV2
Internal name _x400a_V2

Using the internal name  _x400a_V2 in a Power Automate filter query results in "Column ‘_x004a_V2’ does not exist".

Using Power Automate peek code or hovering over the Power Automate dynamic content for field JV2 reveals that the intern

[2022-01-05 16:14] #388 closed

[2022-01-05 16:55] #533 closed

[2022-01-06 21:56] #513 closed

[2022-01-06 21:59] sympmarc commented on #388
Thanks for this article, @PatD! I just ran through it and made some minor edits. It should be live soon.

[2022-01-12 00:28] tomresing commented on #388
Let me know the URL when it's live. I'd like to share it and I don't see it yet.

[2022-01-12 14:33] sympmarc commented on #388
@daisyfell just pushed to live (Thanks, @daisyfell!).
https://docs.microsoft.com/en-us/microsoft-365/community/highlighted-content-web-part

[2022-01-12 15:06] tomresing commented on #388
Thanks, @daisyfell!

[2022-01-31 23:23] nikki-c opened #575 "Add in the link to the new governance risk and compliance competency"
Add in a link to the new governance risk and compliance competency page
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13d0b11f-eb27-dc86-2441-66b92d1d820b
* Version Independent ID: 59a88ea9-f6c1-d719-e033-43b3ddd02c30
* Content: [Maturity Model for Microsoft 365 - Introduction](https://docs.micro

[2022-02-01 15:32] sympmarc commented on #575
Good catch! I'm on it.

[2022-02-01 16:59] #575 closed

[2022-02-27 15:55] PatD opened #588 "Useful URLs for Your Users Using M365"
#### Article suggestion

Piggybacking on these two tweets and their high-quality replies:

[https://twitter.com/SwearPointJS/status/1493618618768105480](https://twitter.com/SwearPointJS/status/1493618618768105480)

[https://twitter.com/SwearPointJS/status/1427632730813124625](https://twitter.com/SwearPointJS/status/1427632730813124625)

...I'd like to suggest an article that covers URLs of value t

[2022-02-28 18:36] sympmarc commented on #588
Want to take a crack at it, @PatD?

[2022-03-04 19:55] chanakavp opened #593 "Markdown table broken"
![image](https://user-images.githubusercontent.com/16893134/156832598-36fe7cd4-4e10-4efa-9e2f-5685a406c8c5.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13b113f1-d1a3-6ba3-524d-501e0bbef749
* Version Independent ID: 13b113f1-d1a3-6ba3-524d-501e0bbef749
* Content: [Advanced Highlighted Content Web Part](https://do

[2022-03-04 19:57] PatD commented on #588
I do!  Assign to me please.

[2022-03-04 20:50] sympmarc commented on #588
Done! And thanks, as always.

[2022-03-04 21:16] sympmarc commented on #593
Thanks for pointing this out, @chanakavp. I've put in a fix and we should get it deployed soon.

I'll be adding you to the list of contributors: there's no contribution too small!

[2022-03-05 12:10] chanakavp commented on #593
Dear @sympmarc,
I'm honoured. I depend on Microsoft docs a lot, so I'm really glad to have an opportunity to support it in any way I can.

[2022-03-08 09:26] JimmyHang commented on #20
Hi @sympmarc and @eemancini, this took some time, but I finally found the time to finnish this one.

Cheers

[2022-03-08 15:26] eemancini commented on #20
Thanks so much, @JimmyHang! We will review the article this week and let you know when it is being published.

[2022-03-10 18:10] sympmarc commented on #20
@JimmyHang - The article you submitted is great, but it also overlaps quite a bit with existing Microsoft Docs:

* [Publish a content type from a content publishing hub](https://support.microsoft.com/en-us/office/publish-a-content-type-from-a-content-publishing-hub-58081155-118d-4e7a-9cc5-d43b5dbb7d02)
* [Create or customize a content type](https://docs.microsoft.com/en-us/sharepoint/create-custom

[2022-03-10 18:18] JimmyHang commented on #20
Hi Marc, yeah sure I'll add some samples to the pro/cons.

Cheers

[2022-03-28 13:14] #588 closed

[2022-04-13 15:36] ashwanidv100 opened #619 "Why Scenario 3 – Departmental and Application image does have Multiple Sandbox for Application- #1."
[Enter feedback here]

Why **Scenario 3 – Departmental and Application** image does have Multiple Sandbox for Application- 1?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1025107-4e5f-166e-1696-365ab2593de8
* Version Independent ID: cdc8e1c4-8150-7c84-033a-d60d624f546e
* Content: [Defining a Power Platform Environme

[2022-04-15 18:11] mikegil4 opened #621 "Could use an update for how SP news is surfaced via Viva Connections"
This doc could use an update to show how organizational news is surfaced in the Viva Connections Feed, as that will be yet another benefit of SP News vs e-mail communications.

(jotting this down as a placeholder before i forget)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27602f8a-1c77-7a3a-e585-94b496bf13fe
* Vers

[2022-04-20 13:02] Choci5 opened #622 "To Do, Planner, Lists or Teams"
Hi all,
I tried different ways to create task for more people, but I can't set that a person could finish only the tasks, that he has assigned. Anyone is able to complete every task all the time. Can you help me with this problem please?

[2022-04-20 15:53] sympmarc commented on #622
@Choci5 - Is your question related to one of the articles here?

[2022-04-27 14:38] sympmarc opened #626 "Update Team Site vs. Communication Site article"
#### Article suggestion

Suggestion from Twitter for [Team Site vs. Communication Site: Which one should I choose?](https://docs.microsoft.com/en-us/microsoft-365/community/team-site-or-communication-site)

https://twitter.com/fredyano/status/1519126936353574913
_People get confused choosing between Communication sites and Team sites.

Add Teams, standalone Group connected Team sites, and sites (n

[2022-05-04 15:09] CallumCrowley commented on #622
@Choci5 I think this question might be better placed on [Microsoft Answers](https://answers.microsoft.com/en-us/msoffice/forum?sort=LastReplyDate&dir=Desc&tab=All&status=all&mod=&modAge=&advFil=&postedAfter=&postedBefore=&threadType=All&isFilterExpanded=false&page=1) or on the [SharePoint Stack Exchange](https://sharepoint.stackexchange.com/). This issues list is related to problems found on Micro

[2022-05-04 15:15] CallumCrowley commented on #552
@karimegitHub The use of internal names is generally recommended when referencing columns. This is because internal names are immutable, while the display name could be changed by a user at any time meaning any customisation depending on that column could break if you are referencing it using a display name. Even if Power Automate does have a different way of looking up SharePoint columns, this wo

[2022-05-09 07:01] fs366e2spm opened #632 "s=03 parameter?"
Great article which explains a lot.

I recognize that Microsoft links often have ?s=03 as a parameter at the end.
Is there something known what s=03 is for?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac77ab44-dbe6-f6bc-951e-a7e6d44fb8aa
* Version Independent ID: ac77ab44-dbe6-f6bc-951e-a7e6d44fb8aa
* Content: [Quer

[2022-05-09 12:57] blb0004 opened #633 "#grammar"
Change "the bast way" to "the best way".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efceafa2-4c75-9534-5826-8d6f13391c8b
* Version Independent ID: 41bbd300-95aa-6eac-fa8a-dbc735c94102
* Content: [Power Automate - Send SharePoint files as attachments](https://docs.microsoft.com/en-us/microsoft-365/community/power-au

[2022-05-09 18:28] #622 closed

[2022-05-09 18:29] #552 closed

[2022-05-09 18:35] sympmarc commented on #633
@blb0004 - Thanks for the fix!

[2022-05-09 18:38] sympmarc commented on #633
Fixed in `main`.

[2022-05-10 17:12] sympmarc commented on #632
@fs366e2spm - That's a good question. I can't recall ever having seen that on the query string. Do you have any examples you could share?

cc: @PatD

[2022-05-26 05:20] neodragonwarrior opened #660 "Security Considerations for W365 Cloud PC integration"
Wish there is some guide lines , best practices , secure configs , checklist etc around adopting W365 Cloud PCs

[2022-05-31 21:26] sympmarc commented on #660
@neodragonwarrior - Can you please expand on that? There may be existing content in other parts of docs.microsoft.com.

[2022-06-01 14:26] TheRealDepso opened #663 "Wrong info"
There is no difference between Microsoft 365 Groups and SharePoint Groups in the rights management of these 2 types. Only Microsoft 365 Groups apply for both.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebb268a6-0b67-3867-5976-7dc5c74e2aaa
* Version Independent ID: fe8166b4-1ba5-6312-f52d-acc365de2eee
* Content: [Te

[2022-06-03 21:01] #633 closed

[2022-06-03 21:11] #593 closed

[2022-06-03 21:11] #269 closed

[2022-06-03 21:12] #268 closed

[2022-06-03 21:12] #267 closed

[2022-06-06 09:26] jadesolis opened #664 "If you can Enable versioning, you can Disable versioning."
#https://docs.microsoft.com/en-us/microsoft-365/community/versioning-basics-best-practices

Article state "If you can Enable versioning, you can Disable versioning. "
So if versioning is enabled by default (no other option to 'enable' it) does it mean we can't turn it off? the Statement semantics is ambiguous..
Can we have supporting links on how to actually turn off versioning?

[2022-06-07 17:40] duffymike opened #665 "SharePoint versioning storage usage calculation note"
For the [Versioning in SharePoint](https://docs.microsoft.com/en-us/microsoft-365/community/versioning-basics-best-practices#major-versus-minor-versions) page, currently, there is a helpful Note that reads: "Note
All versions count against your SharePoint storage usage, as do files in the recycle bins and files preserved due to retention policies."

While this is accurate, I think it would help us

[2022-06-08 20:55] #665 closed

[2022-06-09 15:47] MarkAtEureka opened #673 "The Terminology section doesn't really define any terms"
[Enter feedback here]
Please define some terms in the Terminology section. Clarifying the differences between a team site and Teams site. What is a Site, Subsite, Site Collection and the common misunderstandings that occur when people encounter when trying to sort them out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2022-07-05 15:25] jaywinksthrive opened #679 "Obsolete"
PNPProvisioningTemplate is no more.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f961736d-5c03-df0f-f9f5-2e91bfcde4b4
* Version Independent ID: 332b9f9a-8496-dd14-17f2-9ab0ccffd303
* Content: [Working with modern client-side pages using PnP PowerShell](https://docs.microsoft.com/en-us/microsoft-

[2022-07-05 17:11] JimmyHang commented on #679
Thanks for the feedback, I'll check the sample code, then update the article..👍👍

[2022-07-05 19:06] jaywinksthrive commented on #679
Exactly right, and all I was trying to point out. For a n00b like me, that info would be rather helpful.

Jay Winks
Senior Platform Engineer
 205-278-8125
***@***.***
From: Marc D Anderson ***@***.***>
Sent: Tuesday, July 5, 2022 12:21 PM
To: MicrosoftDocs/microsoft-365-community ***@***.***>
Cc: Jay Winks ***@***.***>; Author ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-community] Obsol

[2022-07-11 13:30] #679 closed

[2022-07-12 13:55] sympmarc commented on #664
Sorry for the delay in getting to this, @jadesolis. The answer varies based on what version of SharePoint you're working with. If you're on SharePoint Online, you *can* disable versioning - at least I was just able to do so in a test tenant. @PatD, as the original author of this, have you seen otherwise?

[2022-07-12 14:00] sympmarc commented on #673
@MarkAtEureka - Sorry for the delay in getting back to you. Have you looked at the article [Team Site vs. Communication Site: Which one should I choose?](https://docs.microsoft.com/en-us/microsoft-365/community/team-site-or-communication-site)? Is that helpful based on your suggestion?

We should also have each of those terms defined in the [Glossary](https://docs.microsoft.com/en-us/microsoft-365

[2022-08-05 16:12] sekaing opened #720 "SharePoint Listview URL Filtering"
Hello All,

Could someone please explain to me if possible why MS chose to only allow the Equal (=) operator for filtering list view using URL query string in SharePoint Online?
For example, I can use the following URL to filter my listview: it will display all items with "numberColumn" having exactly "12" as value.

?useFiltersInViewXml=1&FilterField1=numberColumn&FilterValue1=12

But what should

[2022-08-08 14:07] #720 closed

[2022-08-08 14:35] sekaing commented on #720
@sympmarc
Thank you for your reply.
I am aware of the view filters with create/edit a view.
What I am looking for is, as you mentioned, use the dynamic filtering on the fly.
I created a command set extension. Once the user clicks on the command, it prompts for a value, and uses the entered value to filter the list on the fly.
I am puzzled that MS offered the url trick for an "=" operator only... I

[2022-08-08 16:52] sympmarc commented on #720
I think the use cases for those extra options would be less common. That said, you should propose the enhancement in the [SharePoint Feedback Hub](https://feedbackportal.microsoft.com/feedback/forum/06735c62-321c-ec11-b6e7-0022481f8472).

[2022-08-16 20:42] CallumCrowley commented on #663
@TheRealDepso Communication sites are not connected to Microsoft 365 groups. This is what the documentation is trying to define.

[2022-08-17 14:31] sympmarc commented on #663
@TheRealDepso - Since we haven't heard back from you, we'll close this issue. If you think there's a problem with the article, please feel free to open a new issue.

[2022-08-17 14:31] #663 closed

[2022-08-24 07:14] MichaelRoth42 opened #722 "Power Platform Governance"
#### Article suggestion

I recently published a blog about Power Platform governance that is the first post of a series, guiding admins through all the things to consider when starting with Power Platform governance and providing best practices. After this initial post I will cover the following topics:

##### Basics
    Designate Power Platform Admin
    Think about limiting environment creation

[2022-09-08 12:33] tmsbrdrs opened #729 "How to trigger the flow"
I've built the flow exactly as you have it laid out and went to test. Exactly as laid out, there is no way to trigger this flow, verified through Power Automate.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efceafa2-4c75-9534-5826-8d6f13391c8b
* Version Independent ID: 41bbd300-95aa-6eac-fa8a-d

[2022-09-08 13:07] JimmyHang commented on #729
Hi,

Not sure about what you mean with you cannot trigger the flow? You should find it in the context menu of a file/folder then "Automate", please note that the logic in this example is created with a "Folder" in mind, if it' single files, then you might need to change some of the logic.

![image](https://user-images.githubusercontent.com/18226765/189129245-868d2d0f-0a44-4a94-805f-0c7c7c8b1961.pn

[2022-09-13 15:48] sympmarc commented on #722
@MichaelRoth42 - I apologize for the delay in getting back to you. This does seem like a good set of content for the Community Docs. Would you like to do a PR with the content? I'm thinking we might need a new "card" on the home page for this called **Power Platform Better Practices**. Does that jive with your thoughts?

[2022-09-13 16:02] sympmarc commented on #729
@tmsbrdrs - Did @JimmyHang answer your question?

[2022-09-16 18:23] natlims18 opened #734 "SharePoint Online versioning retention"
Hi, how much retention time (number of days) does versioning in SharePoint Online? I understand that the last 500 versions are stored, but I didn't find how long these versions are retained by default.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6080b47a-816c-8bc8-94c0-506d040ae9bd
* Version Independent ID: c06f1880

[2022-09-16 19:20] sympmarc commented on #734
@natlims18 - Versions are stored perpetually unless you decide to delete them. Retention policies you might put in effect can change that default behavior, but out of the box, its the case.

[2022-09-19 17:41] #734 closed

[2022-09-22 09:10] buhongw7583c opened #737 "reference link does not work/valid"
The link from the document [Logic Apps Live webcast](https://aka.ms/logicappslive) does not work
<img width="856" alt="image" src="https://user-images.githubusercontent.com/37413937/191707002-4547f926-bb0f-4b30-a068-86670d2d8931.png">

<img width="1344" alt="image" src="https://user-images.githubusercontent.com/37413937/191706801-cc48ce74-3689-4e3f-91ad-31c281dacf6d.png">

---
#### Document Detail

[2022-09-22 15:36] sympmarc commented on #737
Thanks for letting us know, @buhongw7583c. Since that video is no longer available, I'll remove it from the page.